<!doctype html>
<html ⚡>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <link rel="canonical" href="./homepage_origin_web">
  <link rel="icon" href="https://cdn.mokkaya.com/images/SC_logo.png">
  <link rel="preload" as="image" href="https://cdn.mokkaya.com/images/SC_mobile_01.png" />
  <link rel="preload" as="image" href="https://cdn.mokkaya.com/images/SC_google_moible.png" />
  <link rel="preload" as="image" id="content-banner2" href="https://cdn.mokkaya.com/images/SC_mobile_02.png" />
  <link rel="preload" as="image" id="content-banner3" href="https://cdn.mokkaya.com/images/SC_mobile_03.png" />
  <link rel="preload" as="image" id="content-banner3" href="https://cdn.mokkaya.com/images/SC_mobile_04.png" />
  <link rel="preload" as="image" class="logo" href="https://cdn.mokkaya.com/images/SC_logo_mobile_01.png" />
  <title>Mokkaya - Aplikasi Reseller Online Tanpa Modal dan Bisa COD</title>
  <!-- for facebook -->
  <meta name="facebook-domain-verification" content="qd7b6956l62tprzck87nawly9jxsuh" />
  <meta name="description"
    content="Jualan online tanpa modal, peluang penghasilan mudah untuk ibu rumah tangga dan pemula, kerja dari rumah, bisnis fashion, alat dapur, tas, sepatu, make up, daftar gratis, buat olshop sendiri">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow" />
  <meta name="author" content="Mokkaya">
  <!-- <meta http-equiv="Content-Type" content="text/html;charset=utf-8"> -->
  <meta name="keywords" content="mau kaya,mo kaya,mokaya,reseller,reseller online,reseller terbaik,aplikasi dropship terbaik,aplikasi reseller terbaik,jualan online,jualan online tanpa modal,jualan online paling laris,reseller terpercaya,aplikasi reseller terpercaya,aplikasi dropship,aplikasi dropshiper,aplikasi dropship terpercaya,dropship untung,reseller untung,supplier tangan pertama,seller tangan pertama,reseller tanpa modal,reseller grtatis">
  <!-- add new meta for SEO -->
  <meta property="og:title"
    content="Mokkaya - Aplikasi Reseller Online Tanpa Modal dan Bisa COD" />
  <meta property="og:url" content="http://mokkaya.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://cdn.mokkaya.com/images/SC_logo.png" />
  <meta property="og:description"
    content="Peluang penghasilan ibu rummailtoah tangga (irt) kerja dari rumah, bisnis online tanpa modal, tidak perlu repot, jualan online cepat laku, menghasilkan uang dengan mudah lewat internet, aplikasi, dan sosmed" />
  <meta property="og:description"
    content="eluang penghasilan pasif modal 0 untuk ibu rumah tangga, kerja dari rumah, jualan online tanpa repot, tidak perlu stok barang, cara menghasilkan uang dengan cepat dari internet dan aplikasi" />
  <meta property="og:description"
    content="Jualan online tanpa modal, peluang penghasilan mudah untuk ibu rumah tangga dan pemula, kerja dari rumah, bisnis fashion, alat dapur, tas, sepatu, make up, daftar gratis, buat olshop sendiri" />
  <meta property="og:site_name" content="Mokkaya">

  <style amp-boilerplate>
    body {
      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both
    }

    @-webkit-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-moz-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-ms-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-o-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }
  </style><noscript>
    <style amp-boilerplate>
      body {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none
      }
    </style>
  </noscript>
  <style amp-custom>
     @font-face {
      font-family: "Raleway-ExtraBold";
      src: url('../../public/fonts/Raleway-ExtraBold.ttf')
    }

    @font-face {
      font-family: "Raleway-Bold";
      src: url("../../public/fonts/Raleway-Bold.ttf")
    }

    @font-face {
      font-family: "Raleway-Medium";
      src: url("../../public/fonts/Raleway-Medium.ttf")
    }

    @font-face {
      font-family: "ExtraBold";
      src: url("../../public/fonts/Raleway-Bold.ttf")
    }

    @font-face {
      font-family: "Raleway-SemiBold";
      src: url("../../public/fonts/Raleway-SemiBold.ttf")
    }

    @font-face {
      font-family: "Montserrat-ExtraBold;";
      src: url("../../public/fonts/Montserrat-ExtraBold.otf")
    }
    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #2c3e50;
      height: 100%;
      overflow: auto;
    }

    body,
    html {
      margin: 0px;
      padding: 0px;
      height: 100%;
      font-size: 20px;

    }

    amp-img {
      display: inline-block;
    }

    a {
      text-decoration: none;
      color: #000;
    }

    h2 {
      text-align: center;
      margin: 0rem;
      font-family: Raleway-ExtraBold;
      font-weight: ExtraBold;
    }

    .minWidth {
      min-width: 1300px
    }

    .maxWidth {
      max-width: 300px;
    }

    .mokkaya-page-pc {
      width: 100%;
      height: 100%;
      font-family: Roboto, Roboto-Regular;
      display: flex;
      flex-direction: column;
      /* padding: 0 14%;
      box-sizing: border-box; */
    }

    a {
      display: inline-block;
      -webkit-tap-highlight-color: transparent
    }

    .banner {
      background: url('../../public/img/index/mobile/background.png') no-repeat;
      padding-bottom:  1.8rem;
      position: relative;
      background-size: 100% 100%;
    }
    .banner .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: .95rem;
      position: relative;
      height: 2rem;
    }

    .banner .video {
      margin-top: 1.75rem;
      /* width: 23.3rem; */
      width: 62%;
      margin-left: 17px;

    }

    .banner .menu-box {
      font-size: 9px;
      font-family: Raleway-Bold;
      font-weight: 700;
      text-align: left;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .banner .menu-box a {
      color: #ffffff;
      margin-right: 1.5rem;
      cursor: pointer;
    }

    .banner .video iframe {
      width: 100%;
    }
    .banner .content {
      display: flex;
      padding-top: .7rem;
    }
    .banner .content .rights {
      margin-left: 1.75rem;
      padding-top: .7rem;
      flex: 1;
    }
    .banner .desc .desc-title {
      font-family: Raleway-ExtraBold;

      /* font-weight: ExtraBold; */
      font-weight: bold;
      text-align: left;
      color: #fbfbfb;
      margin-bottom: 1rem;
      font-size: 1.45rem;
      margin-top: 1.5rem;
    }

    .banner .desc .desc-content {
      font-size: .95rem;
      font-family: Raleway-Medium;
      font-weight: 500;
      text-align: left;
      color: #ffffff;
      line-height: 1.45rem;
      margin-top: .8rem;
    }

    .banner .icon {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .banner .icon {
      margin-top: 2rem;

    }

    .banner .icon .right {
      display: flex;
      flex-direction: column;
      margin-left: 1.5rem;
      flex: 1;
    }

    .banner .icon .right a {
      width: 102px;
    }

    .benefit {
      padding: 3.5rem 1.15rem 2.25rem 1.05rem;
      background: linear-gradient(180deg, #ffffff 48%, #f1f1f1);
    }

    .benefit h2 {
      margin: 0;
      margin-bottom: 1.9rem;
      font-family: Raleway-ExtraBold;
      font-weight: ExtraBold;
    }

    .benefit .benifit-content .benefit-row {
      display: flex;
      justify-content: center;
    }

    .benefit .benifit-content .benefit-row:last-child {
      margin-top: 1.6rem;
    }

    .benefit .benefit-item {
      margin-right: 2.25rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      width: 16.35rem;
      opacity: 1;
      background: #ffffff;
      border: 1px solid #d6d6d6;
      border-radius: 11px;
      box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.16);
      padding: 1.25rem 1.2rem;
      text-align: center;
    }
    .benefit .benefit-item:last-child {
      margin-right: 0;
    }
    .benefit .benefit-item .item-left {
      /* margin-right: 1.15rem; */
    }
    .benefit .benefit-item .item-right {
      margin-top: 1.2rem;
    }
    .benefit .benefit-item .item-right .right-title {
      font-size: .85rem;
      font-weight: bold;
      font-family: Raleway-ExtraBold;
      font-weight: ExtraBold;
      color: #7233ca;
    }

    .benefit .benefit-item .item-right .right-desc {
      font-size: .75rem;
      font-family: Raleway-Medium;
      color: #747474;
      margin-top: .8rem;
    }

    .effect {
      padding: 3rem 0rem 3.8rem 1.15rem;
    }

    .effect .effect-row {
      display: flex;
      margin-top: 2.1rem;
      padding-top: 3px;
    }

    .effect .effect-item {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      margin-right: .8rem;
    }

    .effect .effect-item .item-top {
      width: 5.8rem;
      height: 5.8rem;
      opacity: 1;
      margin-bottom: 1.4rem;
    }

    .effect .effect-item .item-top .item-icon {
      width: 5.8rem;
      height: 5.8rem;
    }

    .effect .effect-item .item-bottom .item-title {
      font-family: Raleway-ExtraBold;
      font-weight: ExtraBold;
      font-weight: bold;
      font-size: 1rem;
      height: 56px;
      color: #7233ca;
      padding: 0 13px;
    }

    .effect .effect-item .item-bottom .item-desc {
      font-size: .9rem;
      font-family: Raleway-Medium;
      font-weight: 500;
      color: #747474;
      line-height: 1rem;
      margin-top: 1rem;
      line-height: 1.3rem;
    }

    .achievements {
      background: #f8f8f8;
      /* padding: 3rem 1.15rem 3.8rem 1.15rem; */
      text-align: center;
    }

    .achievements h2 {
      font-size: 1.75rem;
      font-family: Raleway-ExtraBold;
      font-weight: ExtraBold;
      color: #333333;
      margin-top: 2.25rem;
      padding: 0rem 1.15rem 0rem 1.15rem;
    }

    .achievements .achievements-desc {
      padding: 0rem 10.8%;
      font-size: 1.05rem;
      font-family: Raleway, Raleway-SemiBold;
      font-weight: SemiBold;
      color: #747474;
      line-height: 1.5rem;
      margin-bottom: 1.8rem;
      margin-top: 1rem;
    }
    .achievements .image {
      padding: 0 0 4.5rem;
    }
    .achievements .icon {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 438px;
      position: relative;
    }

    .achievements .icon amp-img.icon-img img {
      object-fit: contain;
    }

    .quality {
      background: #e5d9ee;
      padding: 3.5rem 1.15rem 2.25rem 1.05rem;
    }

    .quality .bg {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .quality .bg .bg-img1 {
      position: relative;
      width: 35.1%;
      /* height: 300px; */
    }
    .quality .bg .bg-img2 {
      position: relative;
      width: 50.5%;
      /* height: 300px; */
    }



    .say-about {
      padding: 3.5rem 1.15rem 0 1.05rem;
      z-index: 1;
    }

    .say-about h2 {
      text-align: center;
    }

    .say-about-row {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }


    .say-about .say-about-item {
      width: 31.5%;
      background: #ffffff;
      border: 1px solid #d6d6d6;
      border-radius: 21px;
      box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.16);
      padding: 4.6rem 1.4rem 1.7rem 1.4rem;
      position: relative;
      margin-top: 5.25rem;
      flex-shrink: 0;
      margin-right: 1.35rem;
      box-sizing: border-box;
    }
    .say-about .say-about-item:last-child {
      margin-right: 0;
    }
    .say-about .say-about-item .say-item-avatar {
      position: absolute;
      top: -54.5px;
    }

    .say-about .say-about-item .say-item-content .content-title {
      font-size: 1.05rem;
      font-family: Raleway-ExtraBold;
      font-weight: ExtraBold;
      text-align: left;
      color: #7233ca;
    }

    .say-about .say-about-item .say-item-content .content-from {
      font-size: .75rem;
      font-family: Raleway, Raleway-SemiBold;
      font-weight: SemiBold;
      text-align: left;
      color: #747474;
      line-height: .8rem;
      margin-top: .5rem;
    }

    .say-about .say-about-item .say-item-content .content-desc {
      font-size: 17px;
      font-family: Raleway-Medium;
      font-weight: 500;
      text-align: left;
      color: #747474;
      line-height: 29px;
      margin-top: 1.4rem;
    }

    .content-price {
      font-size: 10px;
      font-family: Montserrat-ExtraBold;
      font-weight: ExtraBold;
      text-align: left;
      color: #7233ca;
    }

    .joinus {
      position: relative;
      top: -2rem;
      padding: 6.3rem 1.15rem 4.8rem 1.05rem;
      background: url(../../public/img/index/mobile/join-bg-pc.png) no-repeat 100% 100%;
      background-size: cover;
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    .joinus .joinus-desc {
      font-size: 23px;
      font-family: Raleway-Bold;
      line-height: 1.7rem;
      font-size: 14px;
      text-align: center;
      color: #ffffff;
    }
    .joinus .joinus-desc1 {
      margin-top: 1rem;
    }
    .joinus .joinus-button {
      width: 28.4%;
      background: #ff3e81;
      border-radius: 32px;
      padding: .5rem .85rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2.45rem;
      font-size: .9rem;
      font-family: Raleway-ExtraBold;
      font-weight: ExtraBold;
      text-align: center;
      color: #ffffff;
    }

    .joinus .joinus-button amp-img {
      margin-left: 10px;
    }

    .share {
      padding: 2rem 2.2rem 2.6rem;
    }

    .share h2 {
      text-align: center;
      margin-bottom: 3.05rem;
    }

    .share-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2.35rem;
    }

    .share .share-item {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-right: 2.55rem;
    }
    .share .share-item:last-child {
      margin-right: 0;
    }

    .share .share-item .share-item-icon {
      display: inline-block;
      width: 141px;
      height: 141px;
      opacity: 1;
      background: #f8f8f8;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .share .share-item .share-item-text {
      margin-top: 1rem;
      font-size: .85rem;
      text-align: center;
      font-family: Raleway-ExtraBold;
      font-weight: ExtraBold;
    }

    footer {
      background-color: #F8F8F8;
      padding: 2.85rem 1.15rem 1.8rem 1.05rem;
      font-family: Raleway-SemiBold;
      font-weight: SemiBold;
      display: flex;
    }

    footer .download-icon {
      display: flex;
      flex-direction: column;
      margin-right: 3.25rem;
      position: relative;
      top: -.5rem;
    }

    footer .download-icon a.first-icon:last-child {
      margin-top: 0;
    }

    footer .download-icon a.first-icon {
      margin-right: .85rem;
      margin-top: .75rem;
      margin-bottom: .4rem;
    }

    footer h2 {
      font-size: 1.25rem;
      font-family: Raleway-ExtraBold;
      font-weight: ExtraBold;
      text-align: left;
      color: #7233ca;
      margin-bottom: 1rem;
    }
    footer .footer-item {
      flex: 1;
      margin-left: 30px;
    }
    footer .footer-item:last-child {
      margin-left: 80px;
    }

    footer .footer-item .footer-desc {
      font-size: .5rem;
      line-height: 1.3rem;
      font-family: Raleway-SemiBold;
      font-weight: SemiBold;
      text-align: left;
      color: #333333;
      display: flex;
      align-items: center;
    }

    footer .footer-item .footer-desc .address {
      position: relative;
      top: -.4rem;
    }

    footer .footer-item .footer-desc div:first-child {
      width: 35px;
      display: flex;
      position: relative;
      top: -2px;
    }

    footer .footer-item .footer-desc span {
      margin-left: .7rem;
      width: calc(100% - 35px);
    }

    footer .footer-item a.footer-desc span.link {
      display: inline-block;
      margin-left: 0;
    }

    footer .footer-item .footer-desc:last-child {
      margin-top: .9rem;
    }

    footer .footer-item .footer-desc.tanya {
      margin-top: .4rem;
      line-height: 20px;
    }
 
    footer .footer-share-icon {
      display: flex;
    }

    footer .footer-share-icon div {
      margin-right: 1rem;
    }

    .copy-right {
      font-size: .85rem;
      padding: 1.25rem 1.25rem 0;
      text-align: center;
      font-family: Raleway-SemiBold;
      font-weight: SemiBold;
      background-color: #F8F8F8;
    }
    .support-list {
      padding: 0.5rem 0 1.25rem;
      font-size: .75rem;
      line-height: 1rem;
      color: #444;
      text-align: center;
      font-family: Raleway-SemiBold;
      font-weight: SemiBold;
      background-color: #F8F8F8;
    }
    /* .copy-right span {
      color: #7233CA;
      font-weight: bold;
    } */
    .banner, .benefit, .effect, .achievements, .quality, .say-about, .joinus, .share, footer{
      padding-left: 14.8%;
      padding-right: 14.8%;
      box-sizing: border-box;
    }
    .share {
      padding-left: 16.68%;
      padding-right: 16.68%;
    }
    .achievements {
      padding-left: 20.37%;
      padding-right: 20.37%;
    }
    footer {
      padding-left: 16.2%;
      padding-right: 16.2%;
    }
    @media screen and (max-width: 320px) {

      /* 小屏手机 */
      .share-btn {
        width: 4rem;
        margin-top: 0.8rem;
      }
    }

    @media only screen and (max-width: 768px) {
      .banner {
        padding: 0;
      }
    }

    @media (max-width: 580px) and (max-height: 580px) {
      .mokkaya-page-pc {
        display: inherit;
      }

      .header {
        padding: 0.15rem 0rem 0.15rem 0.5rem;
      }
    }
  </style>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <!-- <amp-script src="cross.origin/remote.js" layout="container"></amp-script> -->
  <script async custom-element="amp-script" src="https://cdn.ampproject.org/v0/amp-script-0.1.js"></script>
  <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
  <script async custom-element="amp-iframe" src="https://cdn.ampproject.org/v0/amp-iframe-0.1.js"></script>
  <script async custom-element="amp-position-observer" src="https://cdn.ampproject.org/v0/amp-position-observer-0.1.js"></script>
  <script async custom-element="amp-animation" src="https://cdn.ampproject.org/v0/amp-animation-0.1.js"></script>
</head>

<body>
  <div class="mokkaya-page-pc">
    <div class="banner">
      <header class="header">
        <amp-img class="logo-img" src="../../public/img/index/mobile/header.png" width="124" height="39" alt="">
        </amp-img>
        <div id="menu" class="menu-box">
          <a id="scroll-item" id="scrollToTopButton" on="tap:scroll.scrollTo(duration=1000)" class="scroll">Kontak</a>
          <a href="https://bit.ly/3jPgxqy" target="_blank">Tanya Jawab</a>
          <a href="https://bit.ly/3hc5eXM" target="_blank">Syarat & Ketentuan</a>
        </div>

      </header>
      <div class="content">
        <div class="video">
          <amp-iframe width="466" height="319" sandbox="allow-scripts allow-same-origin allow-presentation" layout="responsive" frameborder="0"
            src="https://www.youtube.com/embed/6ML_7N3QXkI?rel=0">
            <amp-img layout="responsive" width="466" height="319" src="../../public/img/index/mobile/video-bg.png" placeholder>
            </amp-img>
          </amp-iframe>
        </div>
        <div class="rights">
          <div class="desc">
            <h2 class="desc-title">Tanpa Modal, Peluang Bisnis Mudah dan Menguntungkan!</h1>
              <div class="desc-content">Hanya dengan ponsel, bisa langsung meraih banyak untung dari rumah.</div>
              <div class="desc-content"> Yuk, gabung menjadi reseller Mokkaya sekarang!</div>
          </div>
          <div class="icon">
            <div class="left">
              <amp-img src="../../public/img/index/mobile/icon mokkaya.png" width="94" height="94" alt="">
            </div>
            <div class="right">
              <a href="https://bit.ly/3nhBtJf" target="_blank">
                <amp-img src="../../public/img/index/mobile/playstore btn.png" width="138" height="41" alt="">
              </a>
              <a href="https://bit.ly/3tjLoPp" target="_blank">
                <amp-img src="../../public/img/index/mobile/web btn.png" width="138" height="41" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="benefit">
      <h2>Keuntungan Menjadi Reseller Mokkaya</h2>
      <div class="benifit-content">
        <div class="benefit-row">
          <div class="benefit-item">
            <div class="item-left">
              <amp-img src="../../public/img/index/pc/t_1_pc.png" width="128" height="128" alt="">
            </div>
            <div class="item-right">
              <div class="right-title">JAMINAN HARGA TERJANGKAU</div>
              <div class="right-desc">Bekerjasama dengan banyak supplier</div>
            </div>
          </div>
          <div class="benefit-item">
            <div class="item-left">
              <amp-img src="../../public/img/index/pc/t_2_pc.png" width="165" height="128" alt="">
            </div>
            <div class="item-right">
              <div class="right-title">TENTUKAN KEUNTUNGAN SESUKA KAMU</div>
              <div class="right-desc">Bebas tentukan harga jual akhir kepada pembeli</div>
            </div>
          </div>
          <div class="benefit-item">
            <div class="item-left">
              <amp-img src="../../public/img/index/pc/t_3_pc.png" width="128" height="128" alt="">
            </div>
            <div class="item-right">
              <div class="right-title">AKSES LAYANAN RESELLER 24 JAM</div>
              <div class="right-desc">Siap membantu kamu menjadi reseller handal</div>
            </div>
          </div>
        </div>
        <div class="benefit-row">
          <div class="benefit-item">
            <div class="item-left">
              <amp-img src="../../public/img/index/pc/t_4_pc.png" width="128" height="128" alt="">
            </div>
            <div class="item-right">
              <div class="right-title">JAMINAN REFUND 100%</div>
              <div class="right-desc">Jaminan 100% uang kembali jika terjadi retur produk</div>
            </div>
          </div>
          <div class="benefit-item">
            <div class="item-left">
              <amp-img src="../../public/img/index/pc/t_5_pc.png" width="130" height="128" alt="">
            </div>
            <div class="item-right">
              <div class="right-title">BONUS PENCAPAIAN</div>
              <div class="right-desc">Tambahan penghasilan di luar margin penjualan</div>
            </div>
          </div>
          <div class="benefit-item">
            <div class="item-left">
              <amp-img src="../../public/img/index/pc/t_6_pc.png" width="124" height="128" alt="">
            </div>
            <div class="item-right">
              <div class="right-title">DUKUNGAN PROMOSI</div>
              <div class="right-desc">Dibantu dengan promo-promo menarik secara rutin</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="effect">
      <h2>Fitur-fitur Praktis</h2>
      <div class="effect-row">
        <div class="effect-item">
          <div class="item-top">
            <amp-img layout="responsive" src="../../public/img/index/mobile/icon1.png" width="73" height="73" alt="">

          </div>
          <div class="item-bottom">
            <div class="item-title">BONUS DARI REFERRAL</div>
            <div class="item-desc">Undang rekan dan dapatkan tambahan bonus tanpa batas</div>
          </div>
        </div>
        <div class="effect-item">
          <div class="item-top">
            <amp-img layout="responsive" src="../../public/img/index/mobile/icon2.png" width="73" height="73" alt="">

          </div>
          <div class="item-bottom">
            <div class="item-title">TERSEDIA COD</div>
            <div class="item-desc">Jangkau lebih banyak customer dengan metode COD</div>
          </div>
        </div>
        <div class="effect-item">
          <div class="item-top">
            <amp-img layout="responsive" src="../../public/img/index/mobile/icon3.png" width="73" height="73" alt="">

          </div>
          <div class="item-bottom">
            <div class="item-title">PENCAIRAN LANGSUNG</div>
            <div class="item-desc">Dengan cepat mencairkan saldo keuntungan ke rekening atau e-wallet</div>
          </div>
        </div>
        <div class="effect-item">
          <div class="item-top">
            <amp-img layout="responsive" src="../../public/img/index/mobile/icon4.png" width="73" height="73" alt="">
          </div>
          <div class="item-bottom">
            <div class="item-title">TEMPLATE GAMBAR</div>
            <div class="item-desc">Mendukung sharing gambar produk dengan praktis</div>
          </div>
        </div>
      </div>
    </div>
    <div class="achievements">
      <h2>Pencapaian Reseller Mokkaya</h2>
      <div class="achievements-desc">Kami ada untuk Anda. Merupakan kebanggaan bagi kami dapat membantu para reseller
        Mokkaya untuk mendapatkan penghasilan
        sejauh ini:</div>
      <div class="image">
        <amp-img layout="responsive" width="646" height="215" src="../../public/img/index/pc/achievements-pc0926.png"
          alt="">
      </div>
    </div>
    <div class="quality">
      <div class="bg">
        <div class="bg-img1">
          <!-- <h2>Jaminan Produk Berkualitas</h2> -->
          <amp-img layout="responsive" width="313" height="378" src="../../public/img/index/mobile/quality2-pc.png">
          </amp-img>
        </div>
        <div class="bg-img2">
          <amp-img layout="responsive" width="437" height="599" src="../../public/img/index/mobile/quality1.png" alt="">
          </amp-img>
        </div>
      </div>

    </div>
    <div class="say-about">
      <h2>Apa Kata Mereka tentang Mokkaya</h2>
      <div class="say-about-row">
        <div class="say-about-item">
          <div class="say-item-avatar">
            <amp-img class="icon-img" src="../../public/img/index/mobile/avatar1.png" width="109" height="109" alt="">
          </div>
          <div class="say-item-content">
            <div class="content-title">SEPTY ALVIAA</div>
            <div class="content-from">YouTuber</div>
            <div class="content-desc">
              Mokkaya sangat membantu di masa seperti ini untuk mendapatkan penghasilan tambahan. Semuanya bisa
              dilakukan di rumah
              saja, tanpa modal, cuma pakai ponsel. Fitur-fiturnya sangat memudahkan bagi dropshiper di seluruh
              Indonesia.
            </div>
          </div>
        </div>
        <div class="say-about-item">
          <div class="say-item-avatar">
            <amp-img class="icon-img" src="../../public/img/index/mobile/avatar2.png" width="109" height="109" alt="">
          </div>
          <div class="say-item-content">
            <div class="content-title">HANTARA</div>
            <div class="content-from">Pedagang</div>

            <div class="content-desc">
              Mokkaya adalah salah satu aplikasi resseller terbaik yang ada. Kita bisa berjualan online tanpa modal dan
              bisa dilakukan
              di rumah saja. Merupakan pilihan terbaik untuk mendapatkan penghasilan tambahan. Aplikasinya mudah dipakai
              dan beragam
              produk bisa dijual secara online.
            </div>
          </div>
        </div>
        <div class="say-about-item">
          <div class="say-item-avatar">
            <amp-img class="icon-img" src="../../public/img/index/mobile/avatar3.png" width="109" height="109" alt="">
          </div>
          <div class="say-item-content">
            <div class="content-title">NEFRI CAROLINA HASIBUAN</div>
            <div class="content-from">Staf Ahli BKD dan Online Seller</div>

            <div class="content-desc">
              Mokkaya is the best. I Love U. Penghasilan maksimal tanpa modal. Dropship yes. Cara kerja gampang banget.
              Fiturnya
              sangat mudah, di mana saja pasti bisa. Sukses bareng Mokkaya.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="joinus">
      <h2>Bergabung sebagai Supplier Mokkaya</h2>
      <div class="joinus-desc joinus-desc1">Kamu supplier atau pemilik produk? </div>
      <div class="joinus-desc">Ingin produkmu menjangkau lebih banyak pembeli? Ini saatnya!</div>
      <a class="joinus-button" href="https://bit.ly/2VrP4lE" target="_blank">
        <span>Ayo perluas bisnis kamu bersama Mokkaya</span>
        <amp-img class="icon-img" src="../../public/img/index/mobile/join.png" width="31" height="31" alt="">
      </a>
    </div>
    <div class="share" id="scroll">
      <h2>Hubungi Kami</h2>
      <amp-position-observer on="enter:hideAnim.start; exit:showAnim.start" layout="nodisplay"></amp-position-observer>
      <amp-animation id="showAnim" layout="nodisplay">
        <script type="application/json">
            {
              "duration": "200ms",
                "fill": "both",
                "iterations": "1",
                "direction": "alternate",
                "animations": [
                  {
                    "selector": "#scrollToTopButton",
                    "keyframes": [
                      { "opacity": "1", "visibility": "visible" }
                    ]
                  }
                ]
            }
          </script>
      </amp-animation>
      <!-- ... and the second one is for adding the button.-->
      <amp-animation id="hideAnim" layout="nodisplay">
        <script type="application/json">
            {
              "duration": "200ms",
                "fill": "both",
                "iterations": "1",
                "direction": "alternate",
                "animations": [
                  {
                    "selector": "#scrollToTopButton",
                    "keyframes": [
                      { "opacity": "0", "visibility": "hidden" }
                    ]
                  }
                ]
            }
          </script>
      </amp-animation>
      <div class="share-row">
        <a class="share-item" href="mailto:service@mokkaya.com">
          <div class="share-item-icon">
            <amp-img class="icon-img" src="../../public/img/index/pc/mail_icon.png" width="72" height="72" alt="">
          </div>
          <div class="share-item-text">
            Email
          </div>
        </a>
        <a class="share-item" href="https://bit.ly/3tp3csu" target="_blank">
          <div class="share-item-icon">
            <amp-img class="icon-img" src="../../public/img/index/pc/facebook_icon.png" width="72" height="72"
              alt="">
          </div>
          <div class="share-item-text">
            Facebook
          </div>
        </a>
        <a class="share-item" href="https://bit.ly/3tmJgpX" target="_blank">
          <div class="share-item-icon">
            <amp-img class="icon-img" src="../../public/img/index/pc/IG_icon.png" width="72" height="72" alt="">
          </div>
          <div class="share-item-text">
            Instagram
          </div>
        </a>
        <a class="share-item" href="https://bit.ly/2YpIvB0" target="_blank">
          <div class="share-item-icon">
            <amp-img class="icon-img" src="../../public/img/index/pc/youtube_icon.png" width="72" height="72" alt="">
          </div>
          <div class="share-item-text">
            Youtube
          </div>
        </a>
      </div>
    </div>
    <footer>
      <div class="download-icon">
        <div>
          <amp-img class="icon-img" src="../../public/img/index/mobile/logo hitam.png" width="128" height="40" alt=""></amp-img>
        </div>
        <a class="first-icon" href="https://bit.ly/3nhBtJf" target="_blank">
          <amp-img layout="responsive" class="icon-img" src="../../public/img/index/mobile/playstore btn.png" width="103"
            height="30" alt="">
        </a>
        <a class="first-icon" href="https://bit.ly/3tjLoPp" target="_blank">
          <amp-img layout="responsive" class="icon-img" src="../../public/img/index/mobile/web btn.png" width="103" height="30"
            alt="">
        </a>
      </div>
      <div class="footer-item">
        <h2>Tentang Kami</h2>
        <span class="footer-desc sya">
          <a  href="https://bit.ly/3hc5eXM" target="_blank" class="link">Syarat & Ketentuan</a>
        </span>
        <span class="footer-desc tanya">
          <a  href="https://bit.ly/3jPgxqy" target="_blank" class="link">Tanya Jawab</a>
        </span>
      </div>
      <div class="footer-item">
        <h2>Hubungi Kami</h2>
        <div class="footer-desc">
          <div class="address">
            <amp-img src="../../public/img/index/mobile/footer-icon1.png" width="27" height="38" alt=""></amp-img>
          </div>
          <span>Grand Slipi Tower, Palmerah, Jakarta Barat 11480</span>
        </div>
        <div class="footer-desc">
          <div>
            <amp-img src="../../public/img/index/mobile/footer-icon2.png" width="29" height="22" alt=""></amp-img>
          </div>
          <span>service@mokkaya.com</span>
        </div>
      </div>
      <div class="footer-item">
        <h2>Sosial Media</h2>
        <div class="footer-share-icon">
          <div>
            <a href="mailto:service@mokkaya.com" target="_blank">
              <amp-img class="icon-img" src="../../public/img/index/mobile/footer-icon2.png" width="34" height="26" alt="">
            </a>
          </div>
          <div>
            <a href="https://bit.ly/3tp3csu" target="_blank">
              <amp-img class="icon-img" src="../../public/img/index/mobile/facebook-footer.png" width="14" height="26" alt="">
            </a>
          </div>
          <div>
            <a href="https://bit.ly/3tmJgpX" target="_blank">
              <amp-img class="icon-img" src="../../public/img/index/mobile/instagram-footer.png" width="26" height="26" alt="">
            </a>
          </div>
          <div>
            <a href="https://bit.ly/2YpIvB0" target="_blank">
              <amp-img class="icon-img" src="../../public/img/index/mobile/youtube-footer.png" width="35" height="26" alt="">
            </a>
          </div>
        </div>
      </div>
    </footer>
    <div class="copy-right">
      Copyright © 2021 Mokkaya. All rights reserved.
    </div>
    <div class="support-list">powered·by HADOOP NETWORK</div>
  </div>
</body>
<!-- <script>
  window.onresize = function () {
    console.log(123456)
    location.reload()
  }
</script> -->
</html>
