<!doctype html>
<html ⚡>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <link rel="canonical" href="./homepage_origin_pc">
  <link rel="icon" href="https://cdn.mokkaya.com/images/SC_logo.png">
  <link rel="canonical" href="./homepage_origin_web">
  <link rel="icon" href="https://cdn.mokkaya.com/images/SC_logo.png">
  <link as="image" ref="preload" href="https://cdn.mokkaya.com/images/SC_mobile_01.png" width="612" height="90" />
  <link as="image" ref="preload" href="https://cdn.mokkaya.com/images/SC_google_moible.png" width="1080" height="170" />
  <link as="image" ref="preload" id="content-banner2" href="https://cdn.mokkaya.com/images/SC_mobile_02.png"
    width="1080" height="1000" />
  <link as="image" ref="preload" id="content-banner3" href="https://cdn.mokkaya.com/images/SC_mobile_03.png"
    width="1080" height="532" />
  <link as="image" ref="preload" id="content-banner3" href="https://cdn.mokkaya.com/images/SC_mobile_04.png"
    width="1080" height="828" />
  <link as="image" ref="preload" class="logo" href="https://cdn.mokkaya.com/images/SC_logo_mobile_01.png" width="612"
    height="90" />
  <meta name="description"
    content="Jualan online tanpa modal, peluang penghasilan mudah untuk ibu rumah tangga dan pemula, kerja dari rumah, bisnis fashion, alat dapur, tas, sepatu, make up, daftar gratis, buat olshop sendiri">
  <meta name="robots" content="index,follow">
  <meta name="googlebot" content="index,follow" />
  <meta name="author" content="Mokkaya">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta name="keywords" content="mau kaya">
  <meta name="keywords" content="mo kaya">
  <meta name="keywords" content="mokaya">
  <meta name="keywords" content="reseller">
  <meta name="keywords" content="reseller online">
  <meta name="keywords" content="reseller terbaik">
  <meta name="keywords" content="aplikasi dropship terbaik">
  <meta name="keywords" content="aplikasi reseller terbaik">
  <meta name="keywords" content="jualan online">
  <meta name="keywords" content="jualan online tanpa modal">
  <meta name="keywords" content="jualan online paling laris">
  <meta name="keywords" content="reseller terpercaya">
  <meta name="keywords" content="aplikasi reseller">
  <meta name="keywords" content="aplikasi dropship">
  <meta name="keywords" content="aplikasi dropshiper">
  <meta name="keywords" content="aplikasi dropship terpercaya">
  <!-- add new meta for SEO -->
  <meta property="og:title"
    content="Mokkaya - Portal Reselling Produk Berkualitas | MASKER ANAK LUCU | SELIMUT MOTIF ELEGANT" />
  <meta property="og:url" content="http://mokkaya.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://cdn.mokkaya.com/images/SC_logo.png" />
  <!-- add meta for google section -->
  <meta property="og:description" content="mau kaya">
  <meta property="og:description" content="mo kaya">
  <meta property="og:description" content="mokaya">
  <meta property="og:description" content="reseller">
  <meta property="og:description" content="reseller online">
  <meta property="og:description" content="reseller terbaik">
  <meta property="og:description" content="aplikasi dropship terbaik">
  <meta property="og:description" content="aplikasi reseller terbaik">
  <meta property="og:description" content="jualan online">
  <meta property="og:description" content="jualan online tanpa modal">
  <meta property="og:description" content="jualan online paling laris">
  <meta property="og:description" content="reseller terpercaya">
  <meta property="og:description" content="aplikasi reseller">
  <meta property="og:description" content="aplikasi dropship">
  <meta property="og:description" content="aplikasi dropshiper">
  <meta property="og:description" content="aplikasi dropship terpercaya">
  <meta property="og:description"
    content="Peluang penghasilan ibu rumah tangga (irt) kerja dari rumah, bisnis online tanpa modal, tidak perlu repot, jualan online cepat laku, menghasilkan uang dengan mudah lewat internet, aplikasi, dan sosmed" />
  <meta property="og:description"
    content="eluang penghasilan pasif modal 0 untuk ibu rumah tangga, kerja dari rumah, jualan online tanpa repot, tidak perlu stok barang, cara menghasilkan uang dengan cepat dari internet dan aplikasi" />
  <meta property="og:description"
    content="Jualan online tanpa modal, peluang penghasilan mudah untuk ibu rumah tangga dan pemula, kerja dari rumah, bisnis fashion, alat dapur, tas, sepatu, make up, daftar gratis, buat olshop sendiri" />
  <meta property="og:site_name" content="Mokkaya">
  <!-- add meta for google section -->

  <title>Mokkaya - Portal Reselling Produk Berkualitas | MASKER ANAK LUCU | SELIMUT MOTIF ELEGANT</title>
  <style amp-boilerplate>
    body {
      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both
    }

    @-webkit-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-moz-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-ms-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @-o-keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }

    @keyframes -amp-start {
      from {
        visibility: hidden
      }

      to {
        visibility: visible
      }
    }
  </style>
  <noscript>
    <style amp-boilerplate>
      body {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none
      }
    </style>
  </noscript>
  <style amp-custom>
    #app {
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      /* text-align: center; */
      color: #2c3e50;
      height: 100%;
      /* margin-top: 60px; */
      overflow: auto;
    }

    body,
    html {
      margin: 0px;
      padding: 0px;
      height: 100%;
      font-size: 20px;

    }

    img {
      display: inline-block;
    }

    a {
      text-decoration: none;
      color: #000;
    }

    h4 {
      text-align: center;
      margin-top: 0rem;
      font-size: .8rem;
    }

    .minWidth {
      min-width: 1300px
    }

    .maxWidth {
      max-width: 300px;
    }

    .page-pc {
      width: 100%;
      height: 100%;
      font-family: Roboto, Roboto-Regular;
      display: flex;
      flex-direction: column;
    }

    .header {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1.2rem 11.8%;
      background: #fff;
      font-size: 0.75rem;
      position: relative;
      color: #40444f;
      width: 100%;
    }

    .logo {
      height: 2rem;
      display: inline-block;
      padding: 0;
      position: absolute;
      left: 11.8%;
      top: 0.5rem;
    }

    .header-item {
      margin-right: 2.4rem;
      font-weight: 500;
    }

    .banner {
      padding: 0 11.8%;
      display: flex;
      justify-content: center;
      background: #f3f3f3;
    }

    .banner-img {
      width: 100%;
      /* background: #448bf8; */
      text-align: center;
      display: block;
      box-sizing: border-box;
    }

    .shop img {
      width: 100%;
    }

    .content-banner {
      padding: 0 11.8%;
    }

    .content-banner img {
      width: 100%;
    }

    .share-block {
      height: 37%;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 1rem 0rem 1.2rem 0rem;
      box-sizing: border-box;
      padding: 0 13% 2% 13%;
      background: #fff;
    }

    .share-block .item {
      width: 22%;
      background: #ffffff;
      border: 1px solid #9f9f9f;
      border-radius: 0.5rem;
      margin-right: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 2rem 0rem;
    }

    .item:nth-last-child(1) {
      margin-right: 0;
    }

    .share-icon {
      width: 2rem;
      height: 2rem;
    }

    .share-title {
      font-size: 0.65rem;
      margin-top: 0.5rem;
      font-weight: bold;
    }

    a.item {
      text-decoration: none;
    }

    .share-btn {
      padding: 0rem 1.5rem;
      height: 1.8rem;
      background: linear-gradient(to right, #f7598a, #f2354e);
      border-radius: 1.5rem;
      color: #fff;
      text-align: center;
      font-size: 0.65rem;
      line-height: 1.8rem;
      margin-top: 1.8rem;
    }

    .concat {
      padding: 1rem 1rem;
      display: flex;
      box-sizing: border-box;
      background: #f3f3f3;
      width: 100%;
      font-size: 0.75rem;
      justify-content: center;
    }

    .title-item {
      font-weight: bold;
      color: #000;
      font-size: 0.8rem;
      margin-bottom: 0.7rem;
    }

    .contact-item:nth-child(1) {
      flex: 5;
      margin-left: 20%;
    }

    .contact-item:nth-child(2) {
      flex: 5;
    }

    .contact-item .content-item {
      margin-top: 0.4rem;
      color: #2d89ef;
      line-height: 1.1rem;
      display: inherit;
    }

    .adress {
      padding-right: 3rem;
    }

    .curson {
      cursor: pointer;
      text-decoration: underline;
    }

    .line {
      width: 100%;
      height: 1px;
      display: flex;
      background: #f3f3f3;
      justify-content: center;
    }

    .line-item {
      background: #e3e3e3;
      width: 80%;
    }

    .copyright {
      font-size: .75rem;
      background: #F2F3F5;
      color: #888888;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 1rem 0rem 1.45rem 0rem;
      line-height: 1rem;
    }

    .copyright div {
      margin-bottom: .2rem;
    }

    @media only screen and (min-width: 768px) {}

    /*1680px*/
    @media screen and (min-width: 1680px) {
      .item {
        border-radius: 0.3rem;
      }

      .share-icon {
        width: 3rem;
        height: 3rem;
      }

      .share-title {
        font-size: 0.75rem;
      }
    }
  </style>
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <script async custom-element="amp-script" src="https://cdn.ampproject.org/v0/amp-script-0.1.js"></script>
  <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
</head>

<body>
  <div class="page-pc">
    <div class="header">
      <amp-img class="logo" src="https://cdn.mokkaya.com/images/SC_logo_header.png" width="166" height="42">
      </amp-img>
      <a href="#content-banner2" class="header-item">Peluang Keuntungan</a>
      <a href="#content-banner3" class="header-item">Yuk Gabung!</a>
      <a href="#content-banner4" class="header-item">Hubungi Kami</a>
    </div>
    <div class="banner">
      <amp-img class="banner-img" layout="responsive" alt="" src="https://cdn.mokkaya.com/images/SC_pc_test.png"
        width="917" height="459">
      </amp-img>
    </div>
    <a class="googlePlay" target="_blank"
      href="https://play.google.com/store/apps/details?id=com.mokkaya&referrer=utm_source=mokkaya.com&utm_medium=download_buttonutm_medium%3Ddownload_button">
      <amp-img id="image" layout="responsive" alt="" src="https://cdn.mokkaya.com/images/SC_google_pc.png" width="1080"
        height="164">
      </amp-img>
    </a>
    <div class="content-banner">
      <amp-img alt="" id="content-banner2" src="https://cdn.mokkaya.com/images/SC_dekstop_02.png" width="1080"
        height="401" layout="responsive">
      </amp-img>
      <amp-img alt="" id="content-banner3" src="https://cdn.mokkaya.com/images/SC_dekstop_03.png" width="1080"
        height="401" layout="responsive">
      </amp-img>
      <amp-img alt="" src="https://cdn.mokkaya.com/images/SC_dekstop_04.png" width="1080" height="401"
        layout="responsive">
      </amp-img>
    </div>
    <h4>Hubungi Kami</h4>
    <div class="share-block" id="content-banner4">
      <a class="item" href="https://wa.me/6281281091783/?text=" target="_blank">
        <amp-img alt="" src="https://cdn.mokkaya.com/images/SC_whatsapp.png" class="share-icon" width="2rem"
          height="2rem">
        </amp-img>
        <div class="share-title">WhatsApp</div>
        <div class="share-btn">Kunjungi</div>
      </a>
      <a class="item" href="https://www.facebook.com/Mokkaya-103487204760235/" target="_blank">
        <amp-img alt="" src="https://cdn.mokkaya.com/images/SC_fb.png" class="share-icon" width="2rem" height="2rem">
        </amp-img>
        <div class="share-title">Facebook</div>
        <div class="share-btn">Kunjungi</div>
      </a>
      <a class="item" href="https://www.instagram.com/mokkaya_id/" target="_blank">
        <amp-img alt="" layout="responsive" src="https://cdn.mokkaya.com/images/SC_ins.png" class="share-icon"
          width="2rem" height="2rem">
        </amp-img>
        <div class="share-title">Instagram</div>
        <div class="share-btn">Kunjungi</div>
      </a>
      <a class="item" href="https://www.youtube.com/channel/UCRlm213nyKyenNdHO_FrTrA" target="_blank">
        <amp-img alt="" layout="responsive" src="https://cdn.mokkaya.com/images/SC_youtube.png" class="share-icon"
          width="2rem" height="2rem">
        </amp-img>
        <div class="share-title">YouTube</div>
        <div class="share-btn">Kunjungi</div>
      </a>
    </div>
    <div class="shop">
      <a href="https://bit.ly/2SPmzJL" target="_blank">
        <amp-img alt="" layout="responsive"
          src="https://nipidpraise.blob.core.windows.net/webviewbanner/versi dekstop-07 3.png" width="1201"
          height="192"></amp-img>
      </a>
    </div>
    <div class="concat">
      <div class="contact-item">
        <div class="title-item title-term">Tentang kami</div>
        <a class="content-item curson" href="https://mokkaya.com/term" target="_blank">Syarat dan Ketentuan</a>
        <a class="content-item curson" href="https://mokkaya.com/question" target="_blank">FAQ</a>
      </div>
      <div class="contact-item">
        <div class="title-item">Hubungi kami</div>
        <div class="content-item">Email: service@mokkaya.com</div>
        <div class="content-item adress">
          Alamat:
          <br />Grand Slipi Tower, Palmerah, Jakarta Barat 11480
        </div>
      </div>
    </div>
    <div class="line">
      <div class="line-item"></div>
    </div>
    <div class="copyright">
      <div>Copyright @ Mokkaya</div>
    </div>
    <!-- <amp-img alt="Hummingbird" src="https://cdn.mokkaya.com/images/SC_ins.png" width="640" height="457"
    layout="responsive">
  </amp-img> -->
  </div>
  <script>
    window.onresize = function () {
      console.log(123456)
      location.reload()
    }
  </script>
</body>

</html>