<html>
 <head></head>
 <body>
  <div>
   <div style="background-image: url(background.png); background-repeat: no-repeat; background-size: 100%;" height="auto" width="auto">
    <img style="width: 100%!important; height: auto;" src="http://raw.cdn.baca.co.id/ae9d5dc3-e33f-4050-881a-77b35494e81c" />
   </div>
   <div id="contentx" class="dtlnews">
    <p><strong>JAKARTA</strong> - Wakil Gubernur DKI Jakarta terpilih Sandiaga Salahuddin Uno bakal menerapkan lari pagi dari kediamannya ke Balai Kota tiap Selasa dan Jumat setelah resmi menjabat sebagai orang nomor dua di Jakarta pada Oktober 2017, nanti. </p>
    <p>&quot;Iya itu si tetap, kan saya setiap hari Selasa dan Jumat. Nanti kita pilih satu hari sebagai hari lari ke kantor,&quot; kata Sandi sapaan akrab Sandiaga di Jalan Tirtayasa, Jakarta Selatan, Minggu 7 Mei 2017.</p>
    <p>Bang Sandi juga berencana mengajak awak media untuk menerapkan programnya tersebut sambil melihat keseluruhan sisi kota Jakarta. Pasalnya, masih banyak fasilitas umum untuk pejalan kaki yang harus diperbaiki. </p>
    <p>&quot;Sambil melihat bagaimana Jakarta itu harus kita perbaiki seperti pedestriannya, tempat penyeberangan orangnya. Kita akan lihat PKL yang bisa kita gunakan OK OCE,&quot; ujarnya. </p>
    <p>Bukan hanya itu, seluruh Pejabat Pemprov DKI nantinya juga bergilir mengikuti program lari pagi Sandiaga Uno dari rumah ke Balai Kota tersebut. &quot;Nanti kita rotasi saja, karena memang ada yang juga suka lari. mungkin dari Satpol PP ada juga dari Dinas Olahraga nanti kita rotasi saja. Jadi bisa melihat keseharian Jakarta itu lari dari rumah. Itu cara sampaikan aspirasi,&quot; \u200ekatanya. </p>
    <p>Sekadar informasi, Anies Baswedan-Sandiaga Uno resmi terpilih menjadi Gubernur dan Wakil Gubernur DKI setelah pasangan tersebut memperoleh suara terbanyak dibanding lawannya Basuki Tjahaja Purnama (Ahok)-Djarot Saiful Hidayat. KPUD Jakarta pun telah resmi mengumumkan pasangan Anies-Sandi\u200e sebagai Gubernur dan Wakil Gubernur DKI terpilih pada Jumat, 5 April 2017. Rencananya, Anies-Sandi akan resmi menggantikan posisi Ahok-Djarot di Balaikota pada bulan Oktober 2017, nanti. </p>
   </div>
  </div>
 </body>
</html>