<!DOCTYPE html>
<html lang="id">
  <head>
    <title><%=title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://cdn.mokkaya.com/images/SC_logo.png">
    <script src="/public/js/native.js"></script>
    <style>
      .question {
        margin: 0 auto;
        padding: 1rem 1rem;
        font-size: 16px;
        font-family: sans-serif;
      }
      h1,
      h2 {
        text-align: center;
      }
      .title {
        margin: 0.5rem 0rem;
        font-weight: bold;
      }
      .line {
        line-height: 22px;
      }
      ul {
        padding: 0rem 8px;
      }
      li {
        list-style: none;
        margin-bottom: 5px;
      }
      .link {
        word-break: break-all;
      }
    </style>
  </head>
  <body>
    <div class="ga_tag" style="display: none;"><%=googleTag%></div>
    <div class="question">
      <h2>KEBIJAKAN PRIVASI</h2>
      <!-- 隐私协议 -->
      <!-- <div class="line title">A. PENDAHULUAN</div> -->
      <div class="line">
        Kebijakan Privasi dibuat untuk melindungi keamanan informasi yang diberikan kepada Aplikasi maupun situs Mokkaya (“kami”). Kebijakan Privasi ini mengatur terkait penggunaan dan perlindungan segala bentuk informasi dan data yang pengguna (“Anda”) berikan ketika mengakses dan menggunakan layanan pada aplikasi maupun situs ini.
      </div>
      <div class="line">
        Kami berkomitmen untuk menjaga dan melindungi privasi Anda. Informasi tertentu yang diminta kepada Anda terkait dengan penggunaan situs ini, hanya akan digunakan sesuai dengan pernyataan pada Kebijakan Privasi ini. 
      </div>
      <div class="line">
        Kami dapat mengubah Kebijakan Privasi dari waktu ke waktu dengan alasan apa pun termasuk untuk memperbaiki pelaksanaan penjagaan privasi yang kami lakukan. Pemeriksaan terhadap halaman ini diperlukan secara detail dan berkala agar dapat diketahui apabila ada perubahan-perubahan tersebut. Dengan mengakses dan menggunakan layanan pada aplikasi ini, Anda dianggap telah menyetujui ketetapan ini berikut perubahan-perubahan ketentuan pada Kebijakan Privasi ini.
      </div>
      <div class="line title">CARA KAMI MENGUMPULKAN INFORMASI</div>
      <div class="line">
        Ketika Anda mendaftar dan menggunakan layanan kami, maka Anda akan diminta untuk memasukkan informasi yang dibutuhkan untuk kelancaran layanan.
      </div>
      <div class="line">
        Kami juga memperoleh informasi dari Anda secara otomatis sesuai dengan perizinan yang Anda berikan kepada aplikasi maupun situs kami. Selain itu, semua informasi yang Anda masukkan ketika melakukan aktifitas dalam aplikasi, seperti misalnya melakukan pemesanan produk, melakukan penarikan dana, atau mengisi survei, juga akan dikumpulkan dan disimpan oleh kami.
      </div>
      <!-- <div class="line">Supplier diberikan akses untuk informasi pribadi Reseller HANYA untuk memenuhi pesanan penjualan.</div> -->
      <div class="line title">CARA KAMI MENGGUNAKAN DAN MEMBAGIKAN INFORMASI</div>
      <div class="line">
        Kami dapat menggunakan informasi yang kami kumpulkan dari Anda saat Anda mendaftar, menggunakan layanan, serta perizinan aplikasi yang diberikan oleh Anda kepada kami. Kami memerlukan informasi sebagaimana tersebut untuk memberikan Anda penawaran yang terbaik sesuai dengan riwayat dan preferensi Anda dan untuk pengembangan aplikasi agar dapat meningkatkan pelayanan, serta untuk memenuhi permintaan Anda terhadap produk dan layanan yang disediakan oleh aplikasi Mokkaya. Untuk kepentingan tersebut kami dapat menghubungi Anda melalui email atau nomor yang tertera pada Aplikasi. Kami juga akan menggunakan serta membagikan informasi-informasi tersebut untuk, namun tidak terbatas pada:
      </div>
      <!-- <div
        class="line"
      >Untuk mendaftar pada aplikasi ini, Anda harus memberikan berbagai informasi yang Kami butuhkan, sebagai berikut :</div>
      <div
        class="line"
      >Informasi mengenai identitas diri Anda yang diperoleh aplikasi Mokkaya Supplier secara otomatis adalah:</div> -->
      <ul>
        <li>1.Memberikan informasi dengan mengirimkan email, notifikasi, dan/atau pesan pada aplikasi komunikasi (WhatsApp, Telegram, dll) secara berkala terkait adanya suatu penawaran, event, berhubungan dengan pesanan, dan/atau promosi atas produk-produk baru, penawaran khusus, atau informasi lain yang sedang berlangsung.</li>
        <li>2.Verifikasi kepemilikan akun Anda di Mokkaya.</li>
        <li>3.Memproses pemesanan produk kepada vendor kami.</li>
        <li>4.Memproses pembayaran keuntungan penjualan.</li>
        <li>5.Berkomunikasi dengan semua pihak yang terkait dalam layanan Mokkaya, misalnya, namun tidak terbatas pada: pihak
        ekspedisi atau kurir, reseller Mokkaya lainnya, customer atau pembeli produk Anda</li>
        <li>6.Catatan administrasi kami.</li>
      </ul>
      <div class="line title">CARA KAMI MELINDUNGI INFORMASI</div>

      <div
        class="line"
      >Kami memastikan bahwa informasi yang Anda berikan kepada kami terlindungi dan dalam keadaan aman dengan melakukan pencegahan terhadap adanya akses tanpa izin pada informasi Anda melalui prosedur manajerial yang kami miliki.  Kami juga tidak akan menjual, mendistribusikan, atau menyewakan informasi pribadi Anda kepada pihak ketiga, kecuali jika kami diharuskan oleh undang-undang yang berlaku di Indonesia untuk melakukannya.</div>
      <!-- <ul>
        <li>1.Nama lengkap</li>
        <li>2.Email pendafataran</li>
        <li>3.Jenis kelamin</li>
        <li>4.Nomor telepon yang terhubung dengan WhatsApp</li>
        <li>5.Alamat lengkap</li>
        <li>6.Nama toko</li>
        <li>7.Nomor telepon toko</li>
        <li>8.Alamat lengkap toko</li>
        <li>9.Informasi lengkap tentang produk yang Anda jual</li>
      </ul> -->
      <div class="line title">JENIS INFORMASI YANG KAMI KUMPULKAN</div>
      <div class="line title">A. PENDAFTARAN</div>
      <div class="line">Semua orang dapat mengakses aplikasi Mokkaya, namun ada beberapa fitur dan fasilitas aplikasi ini yang hanya dapat dinikmati oleh pengguna yang telah melakukan pendaftaran.</div>
      <div class="line">Untuk mendaftar pada aplikasi Mokkaya, Anda harus memberikan berbagai informasi yang Kami butuhkan, sebagai berikut :</div>
      <div class="line">Informasi mengenai identitas diri Anda yang diperoleh aplikasi Mokkaya secara otomatis adalah:</div>
      <div class="line">1.Nomor Telepon yang Anda masukkan untuk verifikasi.</div>
      <div class="line">2.Nomor Telepon Anda yang terhubung dengan aplikasi WhatsApp.</div>
      <div class="line">3.Akun Gmail yang Anda gunakan untuk masuk (login), beserta nama penggunanya.</div>
      <div class="line">Informasi mengenai identitas diri Anda yang diperoleh aplikasi Mokkaya ketika Anda mengisi formulir pendaftaran adalah:</div>
      <ul>
        <li>1.Nama lengkap</li>
        <li>2.Jenis kelamin</li>
        <li>3.Alamat lengkap</li>
        <li>4.Alamat e-mail yang Anda masukkan</li>
      </ul>
      <div class="line">Agar dapat berjalan dengan sepenuhnya, kami juga akan memerlukan izin Anda untuk memberikan akses yang dibutuhkan oleh aplikasi, yaitu: Akses media dan penyimpanan.</div>

      <div class="line title">B. PEMESANAN PRODUK</div>
      <div
        class="line"
      >Untuk melakukan pemesanan produk pada aplikasi Mokkaya, Anda harus memberikan berbagai informasi pribadi yang Kami butuhkan, sebagai berikut :</div>
      <ul>
        <li>1.Nama Anda atau pembeli produk yang Anda tawarkan</li>
        <li>2.Nomor telepon Anda atau pembeli produk yang Anda tawarkan</li>
        <li>3.Alamat Anda atau pembeli produk yang Anda tawarkan</li>
      </ul>
      <div class="line title">C. PENARIKAN KEUNTUNGAN PENJUALAN</div>
      <p class="line">Untuk melakukan penarikan keuntungan yang telah diperoleh pada aplikasi Mokkaya, Anda harus memberikan berbagai informasi pribadi yang Kami butuhkan, sebagai berikut :</p>
      <ul>
        <li>1.Nama bank atau E-wallet yang Anda gunakan</li>
        <li>2.Nomor rekening aktif Anda atau nomor telepon yang terdaftar di E-wallet</li>
        <li>3.Nama Anda sesuai dengan nomor rekening aktif atau akun E-wallet tersebut</li>
      </ul>
      <div class="line title">D. FITUR REFERRAL</div>
      <div class="line">Dengan memanfaatkan fitur Referral yang tersedia dalam aplikasi Mokkaya, baik dengan mengundang ataupun menjadi referral bagi orang lain, maka Anda menyatakan setuju untuk membagikan kontak nomor hp yang Anda gunakan untuk mendaftar ke aplikasi Mokkaya kepada sesama referral Anda yang terkait.</div>
      <div class="line title">TANGGUNG JAWAB PRIBADI</div>
      <div class="line">Anda dihimbau untuk menjaga data pribadi milik Anda sendiri yang tersimpan di aplikasi Mokkaya dari pihak ketiga yang Anda tidak ingin izinkan untuk mengetahuinya . Hal ini terkait dengan aktivitas Anda membagikan konten terkait Mokkaya ke publik, seperti misalnya halaman sosial media, grup komunikasi, dan lainnya. Kerugian materiil maupun immateriil yang diakibatkan oleh kegiatan Anda membagikan data pribadi Anda sendiri ke publik merupakan tanggung jawab Anda pribadi. Anda juga dilarang untuk membagikan data pribadi milik reseller lain, vendor, pembeli produk, termasuk milik perusahaan Mokkaya yang Anda ketahui ke publik yang tidak berkaitan dengan kegiatan penggunaan aplikasi Mokkaya yang dianjurkan.</div>
      <div class="line title">KEBENARAN INFORMASI</div>
      <div class="line">Kami menganggap bahwa semua informasi data pribadi yang Anda berikan adalah benar dan Anda memiliki hak atas informasi tersebut. Apabila informasi data pribadi yang Anda berikan tersebut terbukti tidak benar, atau Anda tidak memiliki hak untuk menyebarkan informasi tersebut, maka kami menyatakan tidak bertanggung jawab atas segala akibat apapun yang dapat terjadi sehubungan dengan pemberian informasi tersebut.</div>
      <div class="line title">HUKUM YANG BERLAKU</div>
      <div class="line">Syarat-syarat dan ketentuan dalam Kebijakan Privasi ini tunduk kepada hukum di wilayah Negara Kesatuan Republik Indonesia.</div>
      <div class="line title">PEMBARUAN KEBIJAKAN PRIVASI</div>
      <div class="line">Kami sewaktu-waktu dapat memperbaharui Kebijakan Privasi ini. Kami menyarankan agar Anda membaca dengan seksama dan memeriksa halaman Kebijakan Privasi kami dari waktu ke waktu untuk mengetahui perubahan apapun. Dengan menggunakan layanan, maka Anda dianggap telah menyetujui perubahan-perubahan dalam Kebijakan Privasi.</div>
      <!-- <ul>
        <li>1.Nama lengkap Reseller dan/atau pembelinya.</li>
        <li>2.Nomor telepon Reseller dan/atau pembelinya.</li>
        <li>3.Alamat lengkap Reseller dan/atau pembelinya.</li>
      </ul> -->
      <!-- <div
        class="line"
      >Anda TIDAK diperkenankan untuk menggunakan informasi pribadi para Reseller dan/atau pembelinya untuk keperluan berikut ini, namun tidak terbatas pada, antara lain:</div> -->
      <!-- <ul>
        <li>1.Menghubungi langsung para Reseller dan/atau pembelinya dengan alasan dan/atau media apapun, tanpa persetujuan pihak pengelola aplikasi Mokkaya Supplier.</li>
        <li>2.Mengundang para Reseller dan/atau pembelinya ke dalam grup messaging (WhatsApp, Line, dll) tanpa persetujuan yang bersangkutan.</li>
        <li>3.Mengirimkan email, menghubungi nomor telepon, atau mendatangi alamat para Reseller dan/atau pembelinya untuk tujuan promosi dan pemasaran tanpa sepengetahuan dan persetujuan pihak kami.</li>
        <li>4.Mengirimkan paket atau barang di luar produk yang dipesan oleh para Reseller dan/atau pembelinya.</li>
        <li>5.Menyebarkan atau menggunakan informasi pribadi Reseller dan/atau pembelinya untuk mendaftar ke media, platform, atau aplikasi lain di luar aplikasi Mokkaya Supplier tanpa persetujuan pihak kami.</li>
      </ul>
      <div class="line title">H. HUKUM YANG BERLAKU</div>
      <div
        class="line"
      >Syarat-syarat dan ketentuan dalam Kebijakan Privasi ini tunduk kepada hukum di wilayah Negara Kesatuan Republik Indonesia.</div>
      <div class="line title">I. PEMBARUAN KEBIJAKAN PRIVASI</div>
      <div
        class="line"
      >Kami sewaktu-waktu dapat memperbaharui Kebijakan Privasi ini. Kami menyarankan agar Anda membaca dengan seksama dan memeriksa halaman Kebijakan Privasi kami dari waktu ke waktu untuk mengetahui perubahan apapun. Dengan menggunakan layanan, maka Anda dianggap telah menyetujui perubahan-perubahan dalam Kebijakan Privasi.</div> -->
    </div>
    <script src="/public/js/google.js" async></script>
  </body>
</html>