<!DOCTYPE html>
<html lang="id">
  <head>
    <title><%=title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://cdn.mokkaya.com/images/SC_logo.png">
    <script src="/public/js/native.js"></script>
    <style>
    .question {
      margin: 0 auto;
      padding: 2rem 1rem;
      color: #000;
      font-size: .85rem;
      overflow: scroll;
      line-height: 22px;
      font-family: sans-serif;
    }
    h1 {
      text-align: center;
    }
    @media screen and (min-width: 1200px) {
      .question {
        width: 50% !important;
        margin: auto !important;
      }
    }
    </style>
  </head>
  <body>
    <div class="question">
      <h1>PANDUAN MENGGUNAKAN APLIKASI MOKKAYA</h1>A. Tentang Mokkaya
      <p />1. Apa itu Mokkaya?
      <p />Mokkaya merupakan Marketplace yang berfokus pada peningkatan kesejahteraan maupun kualitas kehidupan para Reseller di Indonesia, dengan menyediakan produk-produk berkualitas dengan harga terbaik untuk dijual kembali oleh para Reseller.
      <p />2. Apa itu Reseller?
      <p />Reseller adalah orang yang menjual produk-produk yang dipesan melalui Mokkaya, untuk dikirimkan kepada para pembelinya.
      <p />3. Apa maksudnya 'tanpa modal'?
      <p />Silakan mengunduh aplikasi Mokkaya yang berisi katalog produk-produk Mokkaya, masuk/login dengan email Gmail Anda (untuk pengguna lama), atau dengan nomor ponsel yang belum pernah terdaftar sebelumnya, lalu mengisi data diri dengan benar. Tim admin Mokkaya akan menghubungi Anda untuk keperluan verifikasi, mengaktifkan berbagai promo yang tersedia, dan memberikan edukasi seputar cara menggunakan aplikasi Mokkaya serta tips dan trik agar Anda dapat berjualan dengan lancar.
      <p />Yang perlu Anda lakukan hanya mempromosikan produk-produk dari Mokkaya kepada saudara, teman, dan semua kontak yang Anda miliki agar mereka membeli dari Anda.
      <p />4. Apa itu Aplikasi?
      <p />Aplikasi adalah platform yang digunakan oleh Mokkaya untuk menampilkan katalog produk-produknya kepada para reseller. Anda bisa mengunduh aplikasi Mokkaya dengan tautan/link yang disediakan oleh tim admin Mokkaya.
      <p />B. Bergabung di Mokkaya
      <p />1. Bagaimana cara bergabung di Mokkaya?
      <p />Anda dapat langsung mengunduh aplikasi Mokkaya yang tersedia di Google PlayStore dan menjalankannya. Dengan melakukan
      login/masuk, maka Anda sudah dapat dinyatakan bergabung dengan Mokkaya.
      <p />2. Apa saja syarat bergabung dengan Mokkaya?
      <p />Anda harus merupakan Warga Negara Indonesia (WNI) dan sudah memiliki Kartu Tanda Penduduk (KTP) yang sah, serta dapat
      membuktikannya secara otentik. Anda juga diwajibkan untuk memiliki nomor ponsel yang aktif dan terkoneksi dengan
      aplikasi WhatsApp atau WhatsApp Business.
      <p />3. Bagaimana mengakses produk di Mokkaya?
      <p />Silakan mengunduh aplikasi Mokkaya yang berisi katalog produk-produk Mokkaya, masuk/login dengan email Gmail Anda (untuk
      pengguna lama), atau dengan nomor ponsel yang belum pernah terdaftar sebelumnya, mengisi kode verifikasi atau OTP yang
      dikirimkan ke nomor ponsel tersebut lewat SMS, lalu mengisi data diri dengan benar. Tim admin Mokkaya akan menghubungi
      Anda untuk keperluan verifikasi, mengaktifkan berbagai promo yang tersedia, dan memberikan edukasi seputar cara
      menggunakan aplikasi Mokkaya serta tips dan trik agar Anda dapat berjualan dengan lancar.
      <p />PERHATIAN: TIM ADMIN MOKKAYA TIDAK AKAN PERNAH MEMINTA KODE VERIFIKASI ATAU OTP APAPUN KEPADA ANDA, DAN UNTUK TUJUAN
      APAPUN. MOKKAYA TIDAK BERTANGGUNG JAWAB ATAS KELALAIAN ANDA MEMBERIKAN KODE OTP KEPADA ORANG LAIN YANG DAPAT MENYEBABKAN
      AKUN ANDA DAPAT DIAKSES OLEH ORANG LAIN.
      <p />4. Kenapa saya harus masuk/login?
      <p />Aplikasi Mokkaya menyediakan fitur-fitur yang berguna untuk memudahkan para reseller dalam proses menjual produk Mokkaya, seperti misalnya menyimpan produk favorit agar mudah ditemukan kembali ketika dibutuhkan. Fitur ini hanya dapat diaktifkan apabila melakukan masuk/login.
      <p />5. Akun Gmail saya meminta konfirmasi ketika masuk/login, apakah aplikasi Mokkaya aman?
      <p />Kami menjamin bahwa data Gmail yang Anda gunakan akan aman. Permintaan konfirmasi tersebut dikarenakan aplikasi Mokkaya menggunakan platform microsite sehingga Gmail menganggap bahwa Anda sedang masuk ke perangkat baru. Anda dapat mengacu pada dokumen Kebijakan Privasi tentang bagaimana data Anda didapatkan dan digunakan oleh aplikasi Mokkaya, berikut dengan perlindungannya.
      <p />6. Kenapa saya perlu verifikasi akun setelah mendaftar?
      <!-- <p />Tim admin Mokkaya menyediakan Whatsapp grup bagi para Reseller yang resmi terdaftar. Di grup Whatsapp tersebut, tim admin akan secara rutin memberikan berbagai informasi yang bermanfaat untuk reseller, seperti misalnya: tips berjualan, rekomendasi produk yang sedang populer, menjawab pertanyaan, dan lain-lain. -->
      <p />Tim admin Mokkaya akan menghubungi Anda ketika Anda mendaftar di aplikasi Mokkaya untuk pertama kalinya, untuk memberikan berbagai informasi yang bermanfaat untuk reseller, seperti misalnya: cara menggunakan aplikasi Mokkaya dengan lancar, fitur-fitur yang tersedia dalam aplikasi, tips berjualan, rekomendasi produk yang sedang populer, menjawab pertanyaan, dan lain-lain.
      <p />7. Berapa biaya untuk bergabung di Mokkaya?
      <p />Anda bisa bergabung menjadi reseller Mokkaya secara GRATIS, tidak dipungut biaya apapun.
      <p />C. Katalog Produk
      <p />1. Produk apa saja yang tersedia di Mokkaya?
      <p />Mokkaya menyediakan banyak sekali pilihan produk untuk dijual oleh para Reseller. Stok dan tipe produk akan terus di-update secara rutin oleh Mokkaya. Anda tinggal memilih produk yang ingin Anda jual kepada calon pembeli Anda.
      <p />2. Apa itu 'Harga Tertera'?
      <p />“Harga Tertera” adalah harga yang Mokkaya berikan secara spesial untuk para Reseller dibandingkan dengan harga pasarannya (harga yang dicoret, atau disebut sebagai ‘Harga Normal’). Ini adalah harga yang perlu Anda bayarkan ke Mokkaya bila melakukan pesanan produk (belum termasuk ongkir). Harga ini terjamin merupakan harga yang terbaik untuk produk tersebut.
      <p />3. Apa itu 'Harga Kupon Aktif'?
      <p />“Harga Kupon Aktif” adalah harga yang berlaku secara khusus dan lebih murah daripada “Harga Tertera” dikarenakan Anda memiliki kupon yang berlaku dan mempengaruhi harga produk tersebut. Ini adalah harga yang perlu Anda bayarkan ke Mokkaya bila melakukan pesanan produk (belum termasuk ongkir) dan mengaktifkan kupon yang berlaku tersebut.
      <p />4. Bagaimana cara memilih kategori produk?
      <p />Untuk memudahkan Anda menemukan produk yang ingin Anda jual, Anda bisa menggunakan fitur Kategori. Klik tombol menu
      Kategori di bagian bawah dan atau memilih kategori utama di bagian atas. Kategori produk terbagi atas level 1 dan level
      2, dimana level 2 merupakan kategori yang lebih spesifik daripada level 1-nya. Sebagai contoh: Kategori Fashion Pria
      adalah level 1, sedangkan level 2-nya antara lain Atasan Pria, Bawahan Pria, dst.
      <p />5. Bagaimana cara melihat deskripsi produk?
      <p />Untuk melihat keterangan produk dengan lebih jelas, Anda hanya perlu klik pada gambar produk di halaman katalog. Di halaman deskripsi produk, Anda bisa melihat semua gambar yang tersedia untuk produk tersebut, stok produk, varian yang tersedia, juga keterangan detailnya.
      <p />Di halaman ini, Anda juga dapat melihat nama toko atau vendor yang menyediakan produk tersebut, berikut lokasi vendor tersebut. Klik pada nama vendor untuk membuka halaman yang berisikan kota lokasi vendor serta semua produk yang disediakan oleh vendor tersebut.
      <p />6. Apa itu “Kode Produk”?
      <p />Kode Produk adalah kode unik yang dimiliki oleh setiap produk. Anda dapat memeriksa kode unik produk pada setiap gambar produk, terletak di posisi  <span style="font-weight: bold;">kanan bawah gambar produk</span>. Setiap Kode Produk akan memiliki tampilan seperti ini: M-123456-000003
      <p />- M = adalah kode tetap untuk produk-produk Mokkaya
      <p />- 123456 = 6 digit pertama (sebelah kiri) adalah Kode Produk. Kode ini akan berbeda untuk setiap produk.
      <p />- 000003 = 6 digit terakhit (sebelah kanan) adalah kode urutan gambar. 000003 berarti merupakan gambar urutan ketiga pada produk tersebut.
      <p />7. Apa itu fitur “Pencarian Produk”?
      <p />Ada sangat banyak produk yang tersedia di katalog Mokkaya. Untuk memudahkan Anda menemukan kembali produk spesifik yang
      Anda inginkan atau yang pernah Anda bagikan, aplikasi Mokkaya menyediakan fitur “Pencarian Produk” di halaman Katalog
      dan di halaman kategori produk, serta di halaman milik vendor untuk pencarian produk dari vendor spesifik tersebut.
      
      <p />Untuk melakukan pencarian produk, Anda perlu memasukkan Kode Produk dan Nama Produk sebagai kata kunci pencarian.
      Misalnya untuk pencarian kode produk: M-123456-000003 maka Anda perlu mencari dengan kata kunci 123456 untuk menemukan
      produk tersebut.
      <p />8. Apa fungsi fitur “Simpan”?
      <p />Anda juga bisa dengan mudah menemukan produk yang Anda inginkan di aplikasi Mokkaya dengan fitur “Simpan” produk (berbentuk gambar hati).
      Untuk memeriksa kembali produk yang telah Anda simpan, Anda hanya perlu membuka halaman “Disimpan” pada sisi kanan bawah layar.
      <p />Fitur ini berguna untuk dengan cepat menemukan produk yang dicari apabila pernah menyimpan produk tersebut di halaman Disimpan.

      <p />9. Apa itu “Label Produk”?
      <p />Di setiap produk Mokkaya yang telah memenuhi syarat tertentu akan diberikan label khusus di bawah nama produk. “Label Produk” bisa temukan di halaman katalog, hasil pencarian, halaman disimpan, dan halaman detail produk.
      <p />Label tersebut terdiri dari: 
      <p />- “Label COD”, adalah label untuk produk yang menyediakan metode pembayaran COD.
      <p />- "Label Top Dibagikan", adalah label untuk produk yang paling banyak dibagikan dalam 7 hari terakhir.
      <p />- "Label Top Disimpan", adalah label untuk produk yang paling banyak disimpan dalam 7 hari terakhir.
      <p />- "Label Top Terjual", adalah label untuk produk yang paling banyak terjual dalam 7 hari terakhir.
      <p />- "Label Paling Populer", adalah label untuk produk yang paling banyak dipesan dalam 7 hari terakhir.
      <p />- "Label Produk Baru", adalah label untuk produk yang baru saja ditambahkan dalam 7 hari terakhir.
      <p />- "Label Termurah Dalam 3 Minggu", adalah label untuk produk dengan harga paling murah dalam 3 minggu terakhir.
      <p />- “Label Bebas Ongkir”, adalah label untuk produk yang dapat menikmati diskon ongkir bahkan hingga secara total, tergantung dari nilai kupon aktif yang Anda miliki.
      <p />Suatu produk bisa memiliki lebih dari 1 label apabila memenuhi persyaratan setiap label tersebut.
      <p />Label produk akan update setiap harinya dan daftar produk di dalamnya akan disesuaikan.
      <p />Fungsi label ini adalah untuk membantu Anda menemukan produk-produk yang sesuai dengan label. Jika Anda meng-klik salah satu label, maka Anda akan masuk ke daftar produk sesuai label tersebut, kecuali untuk label “Bebas Ongkir”. 
      <p />10. Apa itu fitur “Filter”?
      <p />Fitur Filter adalah fitur yang dibuat untuk mempermudah Anda menemukan produk yang diinginkan dengan lebih cepat. Dengan fitur ini Anda bisa mencari produk berdasarkan Kategori Utama, Sub Kategori, Label, Rentang Harga, Rentang Stok, dan Dikirim dari Kota mana. 
      <p />Anda bisa menemukan Fitur Filter ini pada bagian kanan atas halaman katalog, hasil pencarian, dan kategori spesifik,
      serta halaman milik vendor.
      <p />Anda tidak diwajibkan untuk mengisi semua kolom yang tersedia. Kolom yang dibiarkan kosong berarti tidak akan ada batasan untuk poin tersebut.
      <p />Hanya poin "Label Produk" saja yang bisa dipilih lebih dari 1 dalam satu kali filter. 
      <p />Untuk produk hasil pencarian filter dapat diurutkan berdasarkan Harga (terendah ke tertinggi atau tertinggi ke terendah) dan Top Terjual  
      <p />Bila tidak ditemukan hasil pencarian filter setelah menerapkan poin filter, berarti bahwa tidak ada produk yang memenuhi syarat dalam filter yang Anda pilih. Cobalah kembali dengan persyaratan yang lain.
      <p />11. Di mana saya bisa mendapatkan foto asli atau real pic produk?
      <p />Di dalam halaman deskripsi produk, ada kolom dengan judul “Foto asli produk” yang berisi real pic produk tersebut. Gambar-gambar di bagian ini bisa dibagikan secara terpisah dengan gambar katalog.
      <p />Tentu saja, tidak semua produk memuat real pic karena belum tersedia. Bila Anda membutuhkan real pic produk dan tidak tersedia dalam aplikasi, Anda bisa memintanya ke admin Mokkaya lewat fitur chat di pojok kiri bawah dari halaman deskripsi produk tersebut.

      <p />12. Apakah produk di Mokkaya terjamin?
      <p />Semua produk yang ditawarkan oleh Mokkaya diperoleh dari pada supplier yang terpercaya, dan telah melalui proses pemeriksaan kualitas yang ketat oleh tim Mokkaya. Kami juga menyediakan layanan pengembalian uang (refund) bila terjadi ketidaksesuaian dengan pesanan.
      <p />D. Menjual Produk
      <p />1. Bagaimana cara menjual produk dari Mokkaya?
      <p />Ketika membuka halaman deskripsi produk, Anda bisa menemukan tombol “Salin” dan “Bagikan” di halaman tersebut.
      <p />Tombol “Salin” berfungsi untuk menyalin nama dan varian produk secara otomatis dengan 1 tombol. Akan tetapi, gambar produk tidak akan ikut serta. Ada juga tombol Salin lainnya yang berfungsi untuk menyalin deskripsi produk secara lengkap.
      <p />Tombol “Bagikan” berfungsi untuk menyalin nama dan varian produk, beserta semua gambar produk yang tersedia (terunduh ke dalam ponsel). Anda bisa menambahkan label harga, nomor WA, kalimat promosi, atau menggabungkan beberapa gambar produk sekaligus dengan tombol ini.
      <p />Setelah menekan salah satu dari tombol di atas, Anda bisa memilih platform yang cocok untuk mempromosikan produk tersebut. Anda bisa membagikannya ke Facebook atau Instagram Story, dan juga ke semua kontak Whatsapp keluarga, teman, kolega, dan sebagainya. Semakin banyak kontak yang Anda jangkau, peluang untuk memperoleh pembeli akan semakin besar!
      <p />Anda juga bisa mengunduh gambar ke dalam ponsel lalu membagikannya nanti. Caranya dengan menekan selama 1 detik pada gambar yang ingin Anda unduh, lalu pilih “Simpan gambar” pada tampilan yang muncul.
      <p />2. Bagaimana cara memperoleh keuntungan?
      <p />Anda perlu menjual dengan harga yang lebih tinggi daripada “Harga Tertera” atau “Harga Kupon Aktif” yang harus Anda bayarkan ke Mokkaya agar Anda bisa memperoleh keuntungan atas penjualan produk tersebut. Tidak ada batas berapa harga jual yang bisa Anda tetapkan, tetapi tentu saja, harga yang terlalu mahal akan lebih sulit untuk mendapat pembeli. Anda juga bisa memperoleh keuntungan tambahan dari bonus bila Anda dapat mencapai target tertentu dari program-program yang disediakan oleh Mokkaya.
      <p />3. Bagaimana cara mengetahui stok produk?
      
      <p />Di halaman deskripsi produk pada aplikasi Mokkaya, Anda bisa melihat apakah varian (misalnya ukuran M, L, XL) yang diinginkan dalam kondisi aktif (bisa diklik), maka itu berarti produk dengan varian tersebut tersedia stoknya. Varian yang tidak aktif menandakan bahwa stok tidak tersedia.
      <p />Bisa suatu produk sudah kehabisan stok pada semua varian, maka produk tersebut akan hilang dari halaman katalog produk, namun produk tersebut tetap dapat ditemukan di halaman Disimpan dengan tanda “Habis” apabila Anda sudah pernah menyimpannya.

      <p />4. Apakah ada batas jumlah produk yang boleh dijual?
      <p />Tidak ada batasan untuk jumlah produk yang boleh dijual. Anda boleh menjual hanya 1 jenis produk, ataupun semua produk yang tersedia di katalog Mokkaya. Kami sarankan sebaiknya Anda memilih produk-produk yang cocok dengan keinginan calon pembeli Anda, agar kemungkinan untuk dibeli lebih besar. Misalnya saja: menawarkan produk bayi kepada ibu-ibu yang baru melahirkan.
      <p />5. Apakah mendukung pengiriman ke luar negeri (selain Indonesia)?
      <p />Untuk saat ini, Mokkaya hanya melayani pemesanan dan pengiriman produk di dalam negeri saja (Indonesia). Kami akan terus mengembangkan bisnis agar dapat melayani pembeli di luar negeri suatu saat nanti.
      
      <p />E. Melakukan Pesanan Penjualan
      
      <p />1. Ada yang ingin membeli produk, bagaimana saya melakukan pesanan?
      <p />UNTUK PEMESANAN 1 JENIS PRODUK SAJA:
      <p />Bila calon pembeli Anda sudah mengkonfirmasi produk yang diinginkan, Anda bisa melakukan pemesanan produk di dalam
      aplikasi dengan klik pada tombol “Pesan Sekarang” pada produk yang ingin dipesan. Tombol untuk melakukan pemesanan bisa
      Anda temukan di halaman Detail Produk, halaman Disimpan, dan Hasil Pencarian.
      <p />Di halaman pemesanan produk, Anda perlu mengisi data yang sesuai dengan pesanan, seperti memilih varian produk,
      menentukan jumlah pesanan, dan memasukkan alamat yang lengkap agar dapat melanjutkan ke tahap berikutnya. Di halaman ini
      pula Anda bisa memilih kupon diskon yang ingin Anda gunakan untuk pesanan tersebut, selama memenuhi syarat pemakaian.
      Jangan lupa untuk memastikan bahwa semua data sudah sesuai sebelum melanjutkan ke tahap pembayaran.
      <p />Pilih metode pembayaran yang Anda inginkan, antara metode Bayar Online (transfer bank atau e-wallet) atau metode COD
      (bayar di tempat).
      <p />UNTUK PEMESANAN LEBIH DARI 1 JENIS PRODUK:

      <p />Apabila Anda mendapat pesanan beberapa produk sekaligus (baik dari vendor yang sama maupun vendor yang berbeda) yang
      perlu dikirimkan ke alamat yang sama, Anda bisa menggunakan fitur “Keranjang” yang tersedia. Di halaman detail produk
      yang ingin Anda pesan, terdapat tombol “+tambah” dan ikon keranjang di bagian bawah layar. Klik pada tombol tersebut,
      pilih varian yang diinginkan beserta jumlahnya, lalu konfirmasi. Dengan demikian, produk tersebut telah dikumpulkan ke
      dalam Keranjang untuk dipesan nantinya sekaligus bersama produk lain. Ulangi langkah yang sama dengan produk lain yang
      juga ingin dipesan.
      <p />Apabila semua produk yang ingin Anda pesan telah dimasukkan ke dalam Keranjang, maka saatnya untuk menyelesaikan
      pesanan. Anda bisa mengakses Keranjang lewat halaman Katalog atau halaman detail produk. Di halaman Keranjang, Anda bisa
      memilih (ceklis) produk mana saja yang Anda ingin pesan, atau menghapusnya dari Keranjang. Di halaman ini, Anda masih
      bisa mengatur jumlah produk yang ingin dipesan, namun tidak bisa mengganti varian. Produk-produk akan disusun
      berdasarkan vendor yang sama, dengan produk paling terakhir ditambahkan akan berada di posisi paling atas. Produk yang
      tidak bisa dipesan, misalnya dikarenakan stok habis atau harga yang telah berubah, akan ditempatkan di posisi paling
      bawah dan diberi tanda tidak dapat dipesan. Di bagian bawah layar, Anda dapat melihat “Total perkiraan harga” yang perlu
      dibayarkan nantinya.
      <p />Setelah memastikan semua produk dalam Keranjang telah sesuai, Anda hanya perlu melanjutkan proses pesanan dengan menekan
      tombol Checkout di sebelah kanan bawah layar lalu menyelesaikan langkah-langkah terakhir. Di halaman Checkout, Anda
      perlu mengisi alamat pengiriman. Perlu diingat bahwa semua produk yang dipesan bersamaan hanya bisa dikirimkan ke 1
      (satu) alamat yang sama. Di halaman ini pula, Anda dapat menggunakan kupon diskon yang Anda miliki apabila memenuhi
      syarat pemakaian. Jangan lupa untuk memastikan bahwa semua data sudah sesuai sebelum melanjutkan ke tahap pembayaran.
      <p />Pilih metode pembayaran yang Anda inginkan, antara metode Bayar Online (transfer bank atau e-wallet) atau metode COD
      (bayar di tempat). Apabila menggabungkan produk dari vendor yang berbeda, maka produk-produk dari vendor yang sama akan
      dikelompokkan menjadi masing-masing 1 nomor pesanan.

      <p />2. Berapa harga yang saya bayarkan?
      <p />Harga yang perlu Anda bayarkan ke tim admin Mokkaya adalah “Harga Tertera” atau “Harga Kupon Aktif” produk tersebut ditambah dengan ongkir sesuai dengan daerah tujuan. Jumlah ongkir bisa saja berbeda tergantung daerah tujuan dan kuantitas produk. Jangan lupa untuk menyampaikan hal tersebut kepada calon pembeli Anda, atau Anda memasukkannya ke dalam hitungan harga jual akhir. Anda juga dapat mengaktifkan kupon diskon yang Anda miliki bila pesanan memenuhi persyaratan untuk menggunakannya.
      <p />Untuk pemesanan beberapa produk sekaligus dari vendor yang sama, Anda hanya perlu membayar 1 kali ongkir saja. Sedangkan
      pemesanan secara bersamaan dari vendor yang berbeda, maka ongkir akan dihitung terpisah berdasarkan masing-masing
      vendor.
      <p />3. Kenapa saya harus membayar ongkir?
      <p />“Harga Reseller” adalah harga spesial yang Mokkaya berikan kepada para Reseller dengan jaminan harga terbaik untuk produk terkait. Ini karena kami ingin memberikan kesempatan sebesar-besarnya kepada para Reseller untuk mengatur harga jual akhir Anda sendiri. Harga tersebut tidak termasuk ongkir.
      <p />Namun Anda tidak perlu khawatir. Tim Mokkaya akan senantiasa mengadakan promo-promo menarik secara rutin untuk memperbesar keuntungan para Reseller, termasuk salah satunya adalah promo gratis ongkir. Jangan lupa untuk selalu menanyakan kepada tim admin Whatsapp Mokkaya untuk mengetahui tentang promo apa yang sedang berlangsung.
      <p />4. Bagaimana cara menggunakan kupon diskon?
      <p />Bila Anda memiliki kupon diskon yang aktif dan bisa digunakan, maka total pembayaran di dalam aplikasi akan dikurangi secara otomatis sesuai dengan nilai kupon yang digunakan. Silakan membaca keterangan detail kupon untuk mengetahui syarat dan jumlah diskon yang Anda bisa Anda dapatkan untuk setiap jenis kupon.
      <p />Kupon yang tersedia dan memenuhi syarat akan dipilih secara otomatis berdasarkan jumlah diskon yang paling besar. Anda
      juga bisa memilih untuk tidak menggunakan kupon diskon sama sekali, meskipun ada yang aktif dan bisa digunakan.
      <p />Untuk kupon dengan banyak jumlah pemakaian, setiap jumlah pemakaian akan dikurangi secara otomatis ketika Anda menyelesaikan pesanan (melanjutkan ke pembayaran). Jumlah pemakaian yang telah dikurangi tidak akan dikembalikan meskipun pesanan dibatalkan.
      <p />Khusus untuk pesanan dengan beberapa jenis produk sekaligus (fitur Keranjang), setiap jenis produk dapat menggunakan 1
      kupon diskon produk, selama memenuhi persyaratan kupon. Sedangkan untuk kupon diskon ongkir, hanya bisa digunakan 1 buah
      kupon untuk setiap pesanan atas vendor yang sama.

      <p />5. Apa saja metode pembayaran yang diterima?
      <p />Anda bisa memilih salah satu dari 2 jenis metode pembayaran yang disediakan dalam setiap pesanan:
      <p />- Bayar Online – Berbagai Bank, adalah metode pembayaran dengan konfirmasi otomatis. Di metode ini, tersedia virtual
      account dari berbagai bank, e-wallet, dan juga mini market. Pembayaran yang sukses dengan metode ini akan secara
      otomatis dikonfirmasi oleh aplikasi Mokkaya dan pesanan akan langsung diproses untuk dikirimkan. Anda tidak perlu
      mengirimkan bukti transfer ke admin Mokkaya sebagai konfirmasi. Konfirmasi otomatis biasanya paling lambat dalam waktu 1
      jam setelah dibayar. Apabila ada kendala di konfirmasi pembayaran, Anda bisa menghubungi tim Admin Mokkaya lewat fitur
      chat dalam aplikasi.
      <p />Perlu diperhatikan bahwa metode pembayaran ini memiliki batas waktu, yaitu 24 jam. Bila belum dibayar setelah 24 jam, maka pesanan tersebut akan otomatis dibatalkan. Pesanan yang dibatalkan karena pembayaran yang kadaluwarsa bisa dilakukan “Pesan Lagi” untuk mengulang pesanan dengan produk dan alamat yang sama. Kami menyarankan agar Anda menghindari situasi seperti ini karena stok produk bisa berubah sewaktu-waktu.
      <p />Khusus untuk pesanan yang checkout dengan beberapa jenis produk sekaligus, baik dari vendor yang sama maupun berbeda
      vendor, memilih metode Bayar Online akan menyatukan semua pembayaran menjadi 1 (satu). Anda hanya cukup membayar 1 kali
      saja untuk semua pesanan. Mohon hindari membayar berulang kali. Ini juga berarti bahwa membatalkan atau tidak membayar
      hingga lewat dari batas waktu salah satu pesanan akan mengakibatkan batalnya semua pesanan sekaligus.
      <p />- COD (Cash On Delivery) adalah pembayaran yang dilakukan secara langsung di tempat, setelah pesanan yang diantar oleh kurir diterima oleh Pembeli, sesuai dengan jumlah yang harus dibayarkan.
      <p />Khusus pesanan yang checkout dengan beberapa jenis produk sekaligus dari vendor yang berbeda, memilih metode COD berarti
      Anda perlu memasukkan harga jual akhir untuk setiap vendor yang berbeda. Bila dalam keseluruhan pesanan tersebut dikirim
      dari 2 vendor berbeda, itu berarti calon pembali Anda akan menerima 2 paket yang terpisah dengan harga COD yang
      masing-masing berbeda pula.
      <p />6. Saya salah memasukkan data pesanan, apakah bisa mengubahnya?
      <p />Mohon maaf, apabila pesanan sudah masuk ke tahap pembayaran, maka sudah tidak bisa mengubah data. Anda juga tidak bisa membatalkannya sendiri di dalam aplikasi Mokkaya, kecuali untuk metode “Bayar Online – Berbagai Bank” yang akan kadaluwarsa setelah 24 jam. Mohon menghubungi admin Mokkaya di fitur chat dalam aplikasi dan mengajukan permintaan untuk membatalkan pesanan, disertai alasan yang menguatkan.
      <p />Harap diingat bahwa pesanan yang sudah dalam status “Pengiriman” sudah tidak bisa dibatalkan dengan alasan apapun.
      <p />7. Berapa banyak produk yang bisa saya pesan sekaligus dengan fitur Keranjang?
      <p />Untuk saat ini, Anda dapat memasukkan maksimal 100 jenis produk yang berbeda ke dalam Keranjang, namun hanya maksimal 30
      produk saja dalam sekali checkout.
      <p />8. Berapa lama produk diterima pembeli?
      <p />Ada banyak faktor yang mempengaruhi durasi pengiriman, seperti jenis kurir yang digunakan, daerah tujuan, ukuran dan berat produk, serta lain-lain. Tim admin Mokkaya akan selalu memantau proses pengiriman produk agar bisa sampai secepat mungkin ke tujuan. Anda juga bisa menanyakan proses pengiriman lewat chat langsung ke tim admin Mokkaya dengan fitur chat di dalam aplikasi atau memeriksa status pesanan di halaman Daftar pesanan dalam aplikasi Mokkaya.
      <p />9. Bagaimana saya memantau proses pesanan yang telah saya buat?
      <p />Anda bisa memantau proses pesanan Anda, berupa status pesanan dan pelacakan pengiriman ekspedisi di halaman “Akun” dan membuka kolom “Daftar Pesanan” pada halaman tersebut. Untuk lebih lengkapnya, silakan simak detail di poin F-3.

      <p />10. Perlukah saya mengkonfirmasi pesanan yang sudah diterima?
      <p />Tidak perlu. Sesuai dengan pelacakan pengiriman dari ekspedisi, status pesanan akan otomatis berubah ketika pesanan sudah diterima oleh pelanggan Anda. Namun tidak menutup kemungkinan terjadinya kesalahan pada sistem kami yang menyebabkan sinkronisasi pelacakan tidak sesuai. Bila Anda menemukan status pesanan yang tidak sesuai dengan kondisi sebenarnya, silakan menghubungi tim Admin kami yang bertugas.
      <p />11. Kenapa ada pesanan saya yang tiba-tiba dibatalkan?
      <p />Supplier atau Vendor bisa saja membatalkan pesanan Anda, terutama apabila mereka mengalami halangan untuk memproses pesanan Anda, misalnya seperti: Stok habis. Pesanan Anda juga bisa dibatalkan secara otomatis oleh sistem dalam kondisi tertentu. Pembatalan pesanan oleh Supplier/Vendor dan sistem diatur dengan ketentuan-ketentuan sebagai berikut:
      <p />- Supplier/Vendor dapat membatalkan pesanan Anda secara mandiri melalui aplikasi yang tersedia khusus bagi mereka, hanya untuk Pesanan yang sedang dalam status “Diproses”.
      <p />- Pesanan yang belum memiliki status kurir (tracking) yang aktif atau sukses “Pick up” selama lebih dari 5 (lima) hari setelah pesanan tersebut dibayar (non-COD) atau dibuat (COD), akan dibatalkan secara otomatis oleh sistem. Pembatalan Pesanan oleh sistem berlaku untuk Pesanan dalam status “Diproses” dan “Pengiriman”.
      <p />- Supplier/Vendor dapat mengajukan permintaan pembatalan pesanan ke admin Mokkaya apabila mereka menghadapi kendala untuk memproses Pesanan tersebut.
      <p />- Khusus Pesanan yang menggabungkan beberapa produk sekaligus dengan ongkos kirim tunggal, maka akan dibatalkan secara keseluruhan.
      <p />12. Apa yang terjadi dengan pesanan saya yang dibatalkan oleh Supplier atau sistem?
      <p />Untuk setiap Pesanan yang dibatalkan oleh Supplier/Vendor dan sistem, maka akan diperlakukan sebagai berikut:
      <p />- Untuk Pesanan dengan metode pembayaran non-COD yang sudah dibayar, maka status pesanan akan diubah menjadi Dikembalikan. Dana yang sudah dibayar akan dikembalikan kepada Anda lewat proses Refund (pengembalian uang) otomatis ke “Saldoku” dalam aplikasi sesuai dengan jumlah yang dibayarkan untuk pesanan tersebut. Anda juga akan mendapatkan kompensasi berupa sebuah “Kupon Kompensasi Pembatalan” untuk setiap pesanan yang dibatalkan.
      <p />- Untuk pesanan dengan metode pembayaran COD, maka status pesanan akan diubah menjadi Dibatalkan. Tidak ada dana yang dikembalikan kepada Anda. Anda juga akan mendapatkan kompensasi berupa sebuah “Kupon Kompensasi Pembatalan” untuk setiap pesanan yang dibatalkan.
      <p />- Khusus pesanan yang menggabungkan beberapa produk sekaligus dengan ongkos kirim tunggal, maka akan mendapatkan 1 buah kupon kompensasi untuk keseluruhan pesanan yang digabungkan.
      <p />- “Kupon Kompensasi Pembatalan” bernilai potongan harga produk 10% (sepuluh persen) dengan maksimal potongan Rp10.000 (sepuluh ribu rupiah), serta minimal nilai pembelian produk Rp30.000 (tiga puluh ribu rupiah). Kupon berlaku selama 14 hari setelah diberikan, dan hanya dapat digunakan untuk membuat pesanan di aplikasi Mokkaya. Nilai kupon dapat berubah sewaktu-waktu, baik dengan maupun tanpa pemberitahuan terlebih dahulu.

      <p />F. Halaman Akun
      <p />1. Bagaimana cara saya mengakses halaman akun saya?
      <p />Anda hanya perlu mengkilk tombol “Akun” yang ada di bagian pojok kanan bawah.
      <p />2. Informasi apa saja yang ada di halaman Akun?
      <p />Menyediakan semua informasi mulai dari informasi yang berisi tentang akun Anda, informasi pesanan, kupon, informasi COD, informasi status referral, dan informasi bonus. 
      <p />3. Bagaimana saya memeriksa riwayat pesanan saya?
      <p />Anda bisa klik di bagian “Daftar Pesanan” di halaman Akun, di sana tercantum informasi semua pesanan Anda, Anda bisa menemukan semua riwayat pesanan yang pernah Anda buat. Klik pada pesanan untuk melihat detail pesanan secara spesifik.
      <p />Setiap pesanan akan memiliki status pesanan sesuai kondisinya, yaitu:
      <p />- Perlu dibayar = pesanan menunggu transfer pembayaran, Anda bisa melihat kembali instruksi pembayaran di halaman ini
      <p />- Diproses = pembayaran sudah dikonfirmasi, produk disiapkan untuk dikirim
      <p />- Pengiriman = pesanan sudah dalam proses pengiriman oleh kurir
      <p />- Terkirim = pesanan sudah diterima oleh pembeli
      <p />- Dikembalikan = pesanan yang mengalami pengembalian dana (refund)
      <p />- Dibatalkan = pesanan dibatalkan

      <p />4. Bagaimana cara saya melihat atau memantau detail keuntungan dan pesanan COD saya?
      <p />Anda bisa klik di bagian Status Pencairan COD di halaman Akun, dan akan menampilkan semua keuntungan dan pesanan COD Anda mulai dari:
      <p />- Semua: Akan menampilkan total nominal dari seluruh keuntungan pesanan COD yang pernah Anda terima selama ini, baik yg sudah dibayarkan ataupun yang masih menunggu, dan dikurangi dengan denda yang dikenakan.
      <p />- Menunggu: Akan menampilkan total nominal keuntungan COD yang belum dibayarkan oleh pihak Mokkaya, ataupun belum waktunya untuk dibayarkan.
      <p />- Lunas: Akan menampilkan total nominal keuntungan COD yang sudah dibayarkan oleh pihak Mokkaya kepada Anda.
      <p />- Ditolak: Akan menampilkan total nominal denda yang dikenakan akibat dari pesanan COD yang ditolak oleh pembeli Anda.
      <p />- Dikembalikan: Menampilkan semua daftar pesanan COD yang dikembalikan dananya (refund). Tidak ada pembayaran keuntungan dari pesanan dengan status ini.
      <p />- Dibatalkan: Menampilkan semua daftar pesanan COD yang dibatalkan. Tidak ada pembayaran keuntungan dari pesanan dengan status ini.

      <p />5. Bagaimana cara saya melihat kupon yang saya miliki dan status masa berlakunya?
      <p />Anda bisa klik “Kupon Saya” di halaman Akun yang akan menampilkan semua kupon yang Anda miliki beserta detail masa berlakunya.

      <p />6. Apa itu “Tantangan Omset Rp100rb!”?
      <p />“Tantangan Omset Rp100rb!” adalah program yang tersedia di Mokkaya bagi reseller yang mencapai omset dalam jumlah tertentu dan bisa mendapatkan hadiah yang telah disediakan. Setiap Anda mencapai omset sebanyak Rp100.000 (seratus ribu rupiah), maka Anda berhak klaim sebukan kupon potongan ongkir senilai Rp10.000 (sepuluh ribu rupiah). Anda bisa klaim kupon sebanyak-banyaknya tanpa batas selama Anda mencapai target yang ditentukan tersebut. Pencapaian akan dihitung secara otomatis oleh sistem berdasarkan jumlah pesanan yang sudah terkirim lebih dari 3 hari dan tidak sedang dalam proses komplain.

      <p />7. Apa itu Kompetisi Bulanan?
      <p />Bonus kompetisi bulanan berdasarkan peringkat omset bulanan (jumlah pesanan tidak termasuk ongkir) dari semua reseller, perhitungan bonus sesuai dengan peringkat.

      <p />8. Bagaimana cara saya memantau pendapatan bonus saya di Mokkaya?
      <p />Anda bisa klik “Riwayat Bonus Saya” di halaman Akun, di sana Anda akan melihat total bonus dari “Kompetisi Bulanan” selama 3 bulan terakhir.

      <p />9. Seberapa besar bonus yang akan saya terima?
      <p />Bonus akan berupa nominal Rupiah atau bentuk lainnya, seperti kupon diskon. Besarnya bonus bisa berubah-ubah setiap minggu atau bulannya. Harap pastikan untuk selalu memeriksa halaman bonus.

      <p />10. Bagaimana cara saya mendapatkan bonus di kompetisi bulanan? 
      <p />Anda harus meningkatkan omset penjualan yang bersaing dengan reseller lainnya untuk mencapai setidaknya paling rendah yaitu peringkat 50 untuk mendapatkan bonus, semakin tinggi peringkat, semakin besar bonus yang Anda dapatkan.Jumlah peringkat yang tersedia dan besarnya bonus bisa berubah sewaktu-waktu, harap untuk memeriksa tampilan di aplikasi untuk mengetahui kondisi terbarunya.

      <p />11. Bagaimana perhitungan bonus saya berdasarkan daftar pesanan?
      <p />- Hanya pesanan yang dibuat selama periode bonus tertentu saja yang akan termasuk dalam perhitungan bonus di periode tersebut, baik berupa mingguan ataupun bulanan.
      <p />- Perhitungan bonus di periode yang berbeda akan dimulai kembali dari awal.
      <p />- Hanya pesanan dengan status Diproses, Pengiriman, dan Terkirim saja yang termasuk dalam perhitungan bonus di periode tersebut.
      <p />- Pesanan dengan status Perlu Dibayar, Dikembalikan, dan Dibatalkan tidak termasuk dalam perhitungan bonus di periode tersebut.
      <p />- Jumlah bonus yang ditampilkan di dalam aplikasi bersifat "estimasi" saja. Angka yang sebenarnya adalah jumlah yang ditransfer ke halaman “Saldoku” nantinya.

      <p />12. Kenapa bonus saya berkurang?
      <p />Pesanan yang sebelumnya sudah masuk dalam perhitungan bonus bulanan, namun kemudian statusnya berubah menjadi Dibatalkan, akan dibatalkan dari perhitungan bonus periode tersebut.

      <p />13. Bagaimana menarik atau mencairkan bonus saya?
      <p />Sistem akan menghitung total bonus bulanan di bulan lalu pada pukul 00:00, tanggal 16 bulan ini, dan mentransfernya ke "Saldoku" secara otomatis. Hanya pesanan dengan status Terkirim saja yang terhitung dalam kalkulasi bonus dalam suatu periode. Untuk penarikan saldo di “Saldoku”, silakan membaca di poin H. Pencairan Saldo.
      
      <p />14. Apa itu Referral?
      <p />Referral adalah fitur yang disediakan oleh Mokkaya untuk membantu para reseller untuk mencapai lebih banyak lagi penghasilan dengan cara mengundang orang lain sebagai reseller Mokkaya pula. Keterangan tentang referral bisa Anda lihat lebih detail di halaman Akun dalam aplikasi Mokkaya.

      <p />15. Bagaimana cara mendapatkan referral?
      <p />Anda dapat mengajak orang lain yang belum pernah bergabung menjadi reseller Mokkaya dengan membagikan kode atau link/tautan undangan milik Anda yang bisa Anda temukan di halaman Akun dalam aplikasi Mokkaya. Ketika teman Anda melakukan download aplikasi Mokkaya lewat link/tautan yang Anda bagikan dan mendaftar dengan sukses untuk pertama kalinya, mereka akan diminta untuk konfirmasi sebagai referral yang Anda undang. Atau, bisa juga mereka melakukan download aplikasi Mokkaya tanpa melalui link/tautan Anda, lalu memasukkan kode undangan yang Anda berikan ketika menyelesaikan pendaftaran. Bila mereka melakukan konfirmasi sebagai referral atau memasukkan kode undangan Anda dengan sukses, maka mereka akan terhubung otomatis sebagai referral yang Anda undang. Dengan demikian, Anda akan langsung mendapatkan hadiah sebuah kupon potongan ongkir senilai Rp10.000 (Sepuluh ribu rupiah) untuk setiap referral yang berhasil Anda undang.

      <p />16. Teman saya melewatkan pengisian kode, apakah bisa dilakukan lagi?
      <p />Ya, tenang saja. Bila teman Anda melewatkan pengisian kode undangan di formulir pendaftaran, maka mereka masih berkesempatan untuk memasukkan kode undangan Anda di halaman Akun mereka.

      <p />17. Kenapa teman saya tidak ada opsi untuk memasukkan kode undangan?
      <p />Ada beberapa kemungkinan:
      <p />- Koneksi internet yang digunakan teman Anda sedang tidak stabil sehingga gagal memuat opsi memasukkan kode undangan referral.
      <p />- Teman Anda bukan merupakan pengguna baru pertama kalinya, artinya sudah pernah terdaftar sebagai reseller Mokkaya meskipun tidak pernah direkrut sebagai referral. 
      <p />- Teman Anda sudah pernah memasukkan kode undangan referral milik orang lain dan sukses terikat.
      <p />- Teman Anda melakukan download aplikasi Mokkaya melalui link/tautan undangan yang Anda bagikan dan telah konfirmasi sebagai referral pada saat menyelesaikan pendaftarannya.
      
      
      <p />18. Berapa besar bonus yang saya terima dari referral?
          Anda akan mendapatkan bonus sesuai dengan omset yang diperoleh referral Anda, dengan ketentuan sebagai berikut:
      <p />a.Dalam hari ke-1 hingga hari ke-30 sejak bergabung, Anda akan mendapatkan 5% dari omset yang dihasilkan oleh referral Anda.
      <p />b.Dalam hari ke-31 hingga hari ke-90 sejak bergabung, Anda akan mendapatkan 3% dari omset yang dihasilkan oleh referral Anda.
      <p />c.Dalam hari ke-91 hingga hari ke-180 sejak bergabung, Anda akan mendapatkan 1% dari omset yang dihasilkan oleh referral Anda.
      <p />d.Omset yang dihitung hanya harga produk saja, tidak termasuk ongkir dan margin COD.
      <p />e.Omset yang dihitung hanya yang dibuat dalam masa ketentuan sejak bergabung, dan dengan status Terkirim lebih dari 5x24 jam saja, serta tidak sedang dalam masa komplain.
      <p />f.Bonus yang memenuhi syarat akan langsung dicairkan ke Saldoku milik Anda dalam aplikasi.

      <p />19. Apakah ada batas jumlah referral yang bisa diajak?
      <p />Tidak ada batas jumlah referral yang bisa diajak. Masing-masing referral akan dihitung berdasarkan tanggal bergabung mereka sendiri.

      <p />20. Bagaimana cara saya mendapatkan bonus referral yang banyak?
      <p />Anda perlu mengajak lebih banyak orang lain untuk bergabung ke Mokkaya dan jangan lupa meminta mereka untuk memasukkan kode undangan milik Anda. Setelah itu, Anda perlu memotivasi mereka agar aktif berjualan supaya Anda bisa mendapatkan sebagian dari omset yang mereka hasilkan. Di halaman detail referral, setiap referral yang Anda ajak akan disediakan tombol menghubungi WhatsApp mereka. Anda bisa mempergunakan fasilitas ini untuk menghubungi mereka dan memberikan motivasi serta pelatihan berjulan.
      
      
      <p />G. Pembayaran secara COD (Cash On Delivery)
      <p />1. Apa itu COD?
      <p />Metode pembayaran COD adalah pembayaran yang dilakukan secara langsung di tempat setelah pesanan yang diantar oleh kurir diterima oleh Pembeli.
      <p />2. Apakah semua produk mendukung COD?
      <p />Tidak, hanya produk-produk tertentu yang mendukung pembayaran metode COD, yaitu produk dengan label “COD” di tampilan produk tersebut.
      <p />3. Kenapa saya tidak bisa menemukan opsi COD?
      <p />Kemungkinan besar penyebabnya adalah:
      <p />- Koneksi internet sedang tidak stabil.
      <p />- Harga pesanan sama atau lebih besar dari Rp5.000.000 (lima juta rupiah).
      <p />- Produk yang Anda pilih bukan merupakan produk yang mendukung metode COD.
      <p />- Fitur COD Anda sedang diblokir oleh sistem, atau sudah menggunakan semua kesempatan harian. Kami membatasi akses COD untuk beberapa reseller dengan kondisi dan pertimbangan tertentu. Anda dapat menghubungi tim Admin bila menemukan bahwa fitur COD Anda tidak dapat digunakan.
      <p />4. Saya bisa menemukan fitur COD, tetapi kenapa tidak bisa digunakan?
      <p />- Alamat penerima tidak support atau tidak mendukung untuk pengiriman COD. Hanya wilayah pengiriman tertentu yang mendukung pembayaran COD. Kami akan senantiasa memperluas wilayah jangkauan ke depannya.
      <p />5. Kenapa COD bisa gagal?
      <p />COD bisa gagal jika Pembeli menolak untuk membayar, tidak memiliki dana untuk membayar, alamat tidak ditemukan, atau nomor kontak tidak bisa dihubungi, dan lain-lain. Oleh karena itu, mohon pastikan semua data pengiriman yang dimasukkan sudah benar untuk menghindari kegagalan pengiriman yang akan berakibat pada akun Mokkaya Anda.
      <p />Perlu diketahui bahwa pengiriman paket COD yang gagal atau ditolak dan kemudian dikembalikan, yang dikarenakan oleh kesalahan Reseller (misalnya, namun tidak terbatas pada: fake order, penulisan alamat dan/atau nomor kontak yang salah atau tidak lengkap, dll) merupakan sebuah kerugian material. Hal ini dikarenakan pihak ekspedisi tetap mengenakan biaya pengiriman meskipun pesanan tersebut dikembalikan. Kerugian material akibat pesanan COD yang gagal atau ditolak, akan dibebankan kepada reseller dan dapat mempengaruhi keuntungan yang diterima
      <p />Besarnya biaya yang dikenakan ke reseller atas pesanan COD yang ditolak adalah 1 (satu) kali lipat ongkos kirim pesanan tersebut. Ini merupakan biaya yang perlu dibayarkan ke pihak ekspedisi meskipun pesanan tersebut ditolak atau gagal terkirim. Besarnya biaya bisa berubah sewaktu-waktu, dengan ataupun tanpa pemberitahuan terlebih dahulu.
      <p />6. Berapa harga akhir yang saya harus isi untuk COD?
      <p />Anda hanya bisa memasukkan harga sama atau lebih besar dari total harga pesanan, dan tidak lebih dari Rp5.000.000 (lima juta rupiah).
      <p />7. COD saya sukses, kapan saya akan dibayar?
      <p />Keuntungan COD akan masuk ke Saldoku setelah pesanan diterima oleh pembeli dan tidak ada komplain selama masa tenggang.Untuk saat ini, keuntungan/margin COD akan secara otomatis dibayarkan setelah 5 hari sejak pesanan diterima (status Diterima dalam aplikasi), hanya untuk pesanan yang tidak sedang dalam proses komplain. Setelah komplain diselesaikan, maka margin COD akan langsung dibayarkan apabila bukan pengajuan refund.
      <p />8. Bagaimana cara memeriksa proses pengiriman COD?
      <p />Buka aplikasi dan masuk pada menu “Akun” dan lihat “Daftar Pesanan”. Pesanan dengan metode COD akan memiliki Label “COD” pada nama produk. Anda bisa melihatnya proses pengiriman dan status keberhasilan dari proses tracking dengan nomor resi pengiriman.
      <p />H. Penarikan Saldo
      <p />1. Bagaimana cara melihat jumlah nominal saldo saya?
      <p />Anda bisa pergi ke halaman Akun untuk melihat nominal saldo di bagian Saldoku.

      <p />2. Bagaimana cara melakukan penarikan saldo di Saldoku?
      <p />Klik tombol "Tarik Saldo" di halaman akun dan di halaman detail Saldoku.

      <p />3. Apakah ada batas minimum dan maksimum untuk penarikan Saldo?
      <p />Batas minimum penarikan Rp15.500. Untuk batas maksimum penarikan ke rekening bank adalah Rp50.000.000 (Lima puluh juta rupiah), sedangkan batas maksimum penarikan ke E-wallet adalah Rp10.000.000 (Sepuluh juta rupiah).

      <p />4. Apakah ada biaya admin untuk penarikan saldo?
      <p />Jika penarikan dibawah Rp100.000 maka akan dikenakan biaya admin sebesar Rp5.500, akan tetapi, apabila penarikan lebih dari atau sama dengan Rp100.000, maka tidak akan dikenakan biaya admin. Biaya admin akan langsung dipotong dari jumlah saldo yang ditarik.
      <p />Contoh: Misalkan kalian melakukan penarikan saldo sebesar Rp80.000, maka jumlah yang kalian terima adalah Rp74.500 di rekening bank atau E-wallet.

      <p />5. Apakah saldo yang ada di Saldoku dapat digunakan untuk membeli produk di Mokkaya?
      <p />Untuk saat ini Saldoku hanya bisa untuk melakukan penarikan saldo saja.

      <p />6. Berapa kali batas penarikan saldo dalam sehari?
      <p />Tidak ada batas penarikan.

      <p />7. Apakah saya bisa memilih jumlah saldo saat melakukan penarikan?
      <p />Hanya dapat melakukan penarikan saldo sesuai dengan jumlah nominal saldo yang dimiliki, tidak bisa melakukan penarikan sebagian dari jumlah saldo yang dimiliki.

      <p />8. Bank apa saja yang didukung untuk penarikan Saldo?
      <p />Untuk saat ini, Anda bisa memilih untuk melakukan penarikan ke nomor rekening bank atau E-wallet yang tersedia sebagai berikut: 
      <p />Nomor Rekening Bank yang didukung:
      <p />- BCA
      <p />- BRI
      <p />- Mandiri
      <p />- CIMB
      <p />- Bank Syariah Mandiri
      <p />- BTPN
      <p />- BTN
      <p />- Bank Negara Indonesia (BNI)
      <p />- Bank BNI Syariah
      <p />- Bank BJB

      <p/>E-wallet yang didukung:
      <p/>- OVO
      <p/>- GOPAY
      <p/>- DANA
      <p/>- LinkAja
      <p/>- ShopeePay    

      <p />9. Bagaimana saya melacak status penarikan saldo?
      <p />Status penarikan bisa dilihat pada halaman riwayat penarikan, untuk lebih detailnya bisa menanyakan kepada CS Mokkaya.

      <p />10. Apakah saya bisa melakukan penarikan saldo jika akun saya sedang dibekukan?
      <p />Bila akun Mokkaya Anda sedang dibekukan, maka Anda tidak dapat melakukan penarikan saldo dari akun Anda. Tanda bahwa Akun Mokkaya Anda sedang dibekukan adalah tombol Penarikan yang tidak aktif dan tidak bisa diklik. 

      <p />11. Kenapa akun Mokkaya saya dibekukan? 
      <p />-Anda melakukan pelanggaran terhadap kebijakan apapun yang berlaku di Mokkaya. 
      <p />-Anda dinyatakan atau diduga melakukan tindakan yang dapat merugikan Mokkaya, baik secara materiil maupun immateriil, sebagai contohnya yaitu menyalahgunakan fitur COD. 
      <p />-Anda dinyatakan atau diduga melakukan tindakan yang dapat merugikan reseller Mokkaya lainnya, sebagai contohnya meminta data pribadi reseller lain dengan memaksa. 
      <p />-Anda melakukan kecurangan dalam mengumpulkan saldo, sebagai contohnya yaitu modifikasi atau hacking aplikasi maupun website Mokkaya.
      <p />-Anda mengalami banyak pesanan COD yang ditolak pembeli dan dikenakan Biaya Penolakan yang mengakibatkan saldo Anda berupa nilai negatif.  
      
      <p />12. Apakah saya tetap bisa menambahkan saldo dalam kondisi akun yang sedang dibekukan?
      <p />Anda tetap dapat menambah saldo dengan tetap melakukan pesanan di Mokkaya dan menghasilkan keuntungan berupa margin COD ataupun bonus.

      <p />13. Apakah ada batasan waktu untuk pembekuan akun Mokkaya saya?
      <p />Tidak ada batasan waktu untuk pembekuan akun Mokkaya, dan tidak akan dibebaskan secara otomatis

      <p />14. Bagaimana saya membebaskan akun Mokkaya saya yang sedang dibekukan?
      <p />Akun Mokkaya Anda dapat dibebaskan dengan berbagai pertimbangan tertentu, tergantung dari apa faktor penyebab akun Anda dibekukan. Anda bisa menghubungi tim admin Mokkaya lewat fitur chat di dalam aplikasi.
      <p />Terkecuali untuk pembekuan saldo yang bernilai negatif akibat Biaya Penolakan COD, akun Anda akan dibebaskan secara otomatis apabila saldo bisa mencapai nilai positif kembali.
      <p />15. Apa saja peraturan tentang penarikan dana dari Saldoku?
      <p />Anda bisa membaca lebih lengkap peraturan dan panduan terkait penarikan dana di halaman Kebijakan Penarikan berikut ini: https://mokkaya.com/wdpolicy
      <p />I. Pengembalian Dana
      <p />1. Bagaimana cara melakukan pengembalian dana?
      <p />Bila Anda menerima produk yang tidak sesuai dengan pesanan, Anda bisa mengajukan klaim pengembalian dana dengan cara melakukan chat yang tersedia di dalam aplikasi Mokkaya dalam batas waktu 3 hari setelah pesanan diterima.
      <p />Untuk detail tata cara pengajuan klaim pengembalian dana, harap membaca Syarat & Ketentuan Mokkaya di tautan ini: <a> https://mokkaya.com/webapp/term</a>
      <p />2. Apa itu 'refund 100%'?
      <p />Bila pengajuan klaim pengembalian dana memenuhi persyaratan yang berlaku, Anda bisa mendapatkan uang kembali 100% yang telah Anda bayarkan untuk produk tersebut.
      <p />J. Menghubungi Tim Mokkaya
      <p />1. Bagaimana saya menghubungi tim Mokkaya?
      <p />Anda dapat menghubungi tim admin Mokkaya melalui fitur chat yang tersedia di dalam aplikasi (halaman awal atau katalog) atau silahkan menghubungi salah satu dari kontak berikut ini:
      <!-- <p />Whatsapp:
      <b>+62812-8109-1783</b> -->
      <p />Website:
      <a>https://mokkaya.com/</a>
      <p />Email:
      <a>service@mokkaya.com</a>
      <p />Facebook:
      <a>https://facebook.com/Mokkaya-103487204760235/</a>
      <p />Instagram:
      <a>https://www.instagram.com/mokkaya_id/</a>
      <p />Alamat: Grand Slipi Tower, Palmerah, Jakarta Barat 11480
    </div>
    <div class="ga_tag" hidden><%=googleTag%></div>

    <script src="/public/js/google.js" async></script>
  </body>
</html>