<!DOCTYPE html>
<html lang="id">
  <head>
    <title><%=title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://cdn.mokkaya.com/images/SC_logo.png">
    <script src="/public/js/native.js"></script>
    <style>
    .question {
      margin: 0 auto;
      padding: 2rem 1rem;
      color: #000;
      font-size: .85rem;
      overflow: scroll;
      line-height: 22px;
      font-family: sans-serif;
    }
    h1 {
      text-align: center;
    }
    .term_section_title {
      font-weight: bold;
    }
    @media screen and (min-width: 1200px) {
      .question {
        width: 50% !important;
        margin: auto !important;
      }
    }
    </style>
  </head>
  <body>
    <div class="question">
      <h1>KETENTUAN KONTRIBUSI REAL PIC</h1>
      <p>a.Dengan berkontribusi, saya menyatakan telah setuju dengan ketentuan ini.</p>
      <p>b.Dengan berkontribusi, saya menyatakan telah setuju menyerahkan hak cipta dan penggunaan real pic kepada Mokkaya.</p>
      <p>c.Dengan berkontribusi, saya menyatakan bahwa real pic yang saya hasilkan bebas dari masalah hukum manapun, dan saya siap bertanggung jawab apabila ditemukan adanya pelanggaran di kemudian hari.</p>
      <p class="term_section_title">A.KETENTUAN UMUM</p>
      <p>1.Real pic berfungsi untuk memberi gambaran lebih nyata kepada pembeli mengenai suatu produk, sehingga kasus pengembalian produk dapat diminimalisir.</p>
      <p>2.Kontribusi real pic hanya diperuntukkan bagi reseller yang terpilih. Pemilihan dilakukan secara otomatis oleh sistem dengan parameter tertentu.</p>
      <p>3.Setiap kontribusi real pic yang memenuhi syarat akan mendapat kompensasi berupa kupon dari Mokkaya.</p>
      <p>4.Setiap reseller wajib mematuhi semua ketentuan. Jika berkontribusi, reseller dianggap sudah memahami ketentuan yang ada.</p>
      <p class="term_section_title">B.KETENTUAN KUALITAS</p>
      <p>1.Kualitas gambar baik dan tidak blur.</p>
      <p>2.Untuk produk fashion, usahakan untuk menggunakan latar belakang polos.</p>
      <p>3.Foto produk fashion boleh digantung, atau diletakkan, tapi tak boleh terlipat.</p>
      <p>4.Diperbolehkan untuk menggunakan model.</p>
      <p>5.Pencahayaan harus cukup, foto tidak terlihat gelap.</p>
      <p>6.Foto menunjukkan keseluruhan produk, tidak terpotong.</p>
      <p>7.Dilarang mencantumkan watermark ke dalam foto.</p>
      <p>8.Foto sebaiknya diambil dari berbagai sudut produk, agar terlihat lebih jelas.</p>
      <p>9.Diperbolehkan mengirim lebih dari 1 foto untuk produk yang sama.</p>
      <p>10.Hasil penilaian foto sepenuhnya menjadi kewenangan dan hak tim Mokkaya, bersifat mutlak serta tidak dapat diganggu gugat.</p>
      <p class="term_section_title">C.KEASLIAN DAN HAK CIPTA</p>
      <p>1.Untuk berkontribusi, foto harus merupakan karya foto sendiri, atau dihasilkan oleh pembeli Anda.</p>
      <p>2.Dilarang keras mengambil dari sumber lain, dimana Anda tidak memiliki hak cipta terhadapnya, baik berupa unduhan maupun cropping.</p>
      <p>3.Reseller setuju bahwa real pic yang dikontribusikan akan menjadi milik Mokkaya.</p>
      <p>4.Apabila produk pada real pic tampak berbeda dengan gambar produk dalam aplikasi, Anda harus mampu membuktikan bahwa produk pada real pic adalah benar merupakan produk yang Anda atau pembeli Anda diterima dari pesanan yang ditunjuk.</p>
      <p class="term_section_title">D.PRIVASI DAN PERTANGGUNGJAWABAN</p>
      <p>1.Real pic boleh digunakan oleh reseller lain, sejauh hanya untuk kepentingan penjualan produk dan promosi.</p>
      <p>2.Terkait penggunaan model, tidak ada kompensasi yang didapat oleh model jika foto digunakan reseller lain untuk kepentingan penjualan produk dan promosi.</p>
      <p>3.Jika foto digunakan reseller atau pihak lain di luar kepentingan penjualan produk, misalnya penyebaran di sosial media dalam hal pelecehan, intimidasi dan hal buruk lainnya, akibat hukumnya menjadi konsekuensi penyebar foto dan bukan tanggung jawab Mokkaya. </p>
      <p>4.Hal-hal lain terkait pelanggaran ketentuan yang berakibat hukum dengan pihak lain, menjadi konsekuansi reseller.</p>
      <p class="term_section_title">E.PERUBAHAN KETENTUAN</p>
      <p>1.Kami mungkin perlu mengubah aturan ini dari waktu ke waktu. Reseller diwajibkan untuk membaca dan memahami jika ada pemberitahuan mengenai ketentuan baru.</p>
      <p>2.Kealpaan dalam mematuhi perubahan ketentuan real pic, menjadi konsekuensi dari reseller. </p>
    </div>
    <div class="ga_tag" hidden><%=googleTag%></div>

    <script src="/public/js/google.js" async></script>
  </body>
</html>