<!DOCTYPE html>
<html lang="id">
  <head>
    <title><%=title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="https://cdn.mokkaya.com/images/SC_logo.png">
    <script src="/public/js/native.js"></script>
    <style>
      .refferal {
        margin: 0 auto;
        padding: 1rem 1rem;
        font-size: 16px;
      }
      h1,
      h2 {
        text-align: center;
      }

      ul {  
        padding: 0rem 8px;
      }
      li {
        list-style: none;
        margin-bottom: 5px;
      }
    </style>
  </head>
  <body>
    <div class="ga_tag" hidden><%=googleTag%></div>
    <div class="refferal">
      <h2>Kebijakan Referral</h2>
      <p />Kebijakan Referral ini bertujuan untuk mengatur prosedur serta tata cara memanfaatkan fitur Referral di aplikasi Mokkaya. Dengan memanfaatkan fitur Referral, maka Anda telah menyatakan bahwa Anda setuju dengan isi dari Kebijakan Referral ini serta peraturan-peraturan yang berlaku.
      <p />1.Setiap pengguna yang telah menyelesaikan pendaftaran di aplikasi Mokkaya akan berhak untuk mengundang pengguna lainnya sebagai Referral.
      <p />2.Hanya pengguna baru yang belum pernah terdaftar sama sekali sejak fitur tersebut dikeluarkan oleh Mokkaya yang berhak untuk diundang sebagai Referral.
      <p />3.Anda tidak diperkenankan untuk mencari referral dengan cara-cara yang dapat merugikan orang lain, baik pihak Mokkaya maupun reseller lainnya. Sebagai contoh, namun tidak terbatas pada:
      <ul>
        <li>
          <p />a.Menghubungi reseller lain secara pribadi dan memaksa atau bahkan mengancam mereka untuk memasukkan kode undangan Anda.
          <p />b.Melakukan hack terhadap akun reseller orang lain dan memasukkan kode undangan milik Anda.
          <p />c.Menjanjikan hal-hal yang tidak dapat Anda penuhi kepada calon Referral yang Anda undang, di luar dari fasilitas yang disediakan oleh pihak Mokkaya.
        </li>
      </ul>
      <p />4.Tim admin Mokkaya berhak untuk mengambil tindakan tegas apabila Anda terkonfirmasi melanggar poin-poin di atas, hingga menghentikan status Anda sebagai reseller Mokkaya.
      <p />5.Anda dapat mengajak orang lain yang belum pernah bergabung menjadi reseller Mokkaya dengan membagikan kode atau link/tautan undangan milik Anda yang bisa Anda temukan di halaman Akun dalam aplikasi Mokkaya. Ketika teman Anda melakukan download aplikasi Mokkaya lewat link/tautan yang Anda bagikan dan mendaftar dengan sukses untuk pertama kalinya, mereka akan diminta untuk konfirmasi sebagai referral yang Anda undang. Atau, bisa juga mereka melakukan download aplikasi Mokkaya tanpa melalui link/tautan Anda, lalu memasukkan kode undangan yang Anda berikan ketika menyelesaikan pendaftaran. Bila mereka melakukan konfirmasi sebagai referral atau memasukkan kode undangan Anda dengan sukses, maka mereka akan terhubung otomatis sebagai referral yang Anda undang. Dengan demikian, Anda akan langsung mendapatkan hadiah sebuah kupon potongan ongkir senilai Rp10.000 (Sepuluh ribu rupiah) untuk setiap referral yang berhasil Anda undang.
      <p />6.Bila teman Anda melewatkan pengisian kode undangan di formulir pendaftaran, maka mereka masih berkesempatan untuk memasukkan kode undangan Anda di halaman Akun mereka.
      <p />7.Apabila teman Anda tidak dapat memasukkan kode undangan sama sekali, ada beberapa kemungkinan:
      <ul>
        <li>
          <p />a.Koneksi internet yang digunakan teman Anda sedang tidak stabil sehingga gagal memuat opsi memasukkan kode undangan referral.
          <p />b.Teman Anda bukan merupakan pengguna baru pertama kalinya, artinya sudah pernah terdaftar sebagai reseller Mokkaya meskipun tidak pernah direkrut sebagai referral.
          <p />c.Teman Anda sudah pernah memasukkan kode undangan referral milik orang lain dan sukses terikat.
          <p />d.Teman Anda melakukan download aplikasi Mokkaya melalui link/tautan undangan yang Anda bagikan dan telah konfirmasi sebagai referral pada saat menyelesaikan pendaftarannya.
        </li>
      </ul>
      <p />8.Anda akan mendapatkan bonus sesuai dengan omset yang diperoleh referral Anda, dengan ketentuan sebagai berikut:
      <ul>
        <li>
          <p />a.Dalam hari ke-1 hingga hari ke-30 sejak bergabung, Anda akan mendapatkan 5% dari omset yang dihasilkan oleh referral Anda.
          <p />b.Dalam hari ke-31 hingga hari ke-90 sejak bergabung, Anda akan mendapatkan 3% dari omset yang dihasilkan oleh referral Anda.
          <p />c.Dalam hari ke-91 hingga hari ke-180 sejak bergabung, Anda akan mendapatkan 1% dari omset yang dihasilkan oleh referral Anda.
          <p />d.Omset yang dihitung hanya harga produk saja, tidak termasuk ongkir dan margin COD.
          <p />e.Omset yang dihitung hanya yang dibuat dalam masa ketentuan sejak bergabung, dan dengan status Terkirim lebih dari 5x24 jam saja, serta tidak sedang dalam masa komplain.
          <p />f.Bonus yang memenuhi syarat akan langsung dicairkan ke Saldoku milik Anda dalam aplikasi.
        </li>
      </ul>
      <p />9.Tidak ada batas jumlah referral yang bisa diajak. Masing-masing referral akan dihitung berdasarkan tanggal bergabung mereka sendiri.
      <p />10.Sebagai pengundang referral, Anda bisa menghubungi para referral Anda di halaman detail Referral, di halaman tersebut tersedia kontak WhatsApp dari tiap referral yang telah berhasil Anda undang. Gunakan fasilitas tersebut untuk memberikan motivasi serta tips agar omset jualan mereka meningkat.
      <p />11.Begitu juga bila Anda diundang oleh seseorang sebagai referral, maka Anda bisa menemukan nomor WhatsApp orang yang mengundang Anda tersebut di halaman Akun. Gunakan fasilitas tersebut untuk meminta bantuan serta tips agar Anda dapat berjualan dengan baik.
      <p />12.Tim admin Mokkaya memiliki hak atas pemahaman terakhir terkait isi dari Kebijakan Referral ini, serta keputusan yang telah diambil tidak dapat diganggu gugat. 
    </div>
    <script src="/public/js/google.js" async></script>
  </body>
</html>