<!DOCTYPE html>
<html lang="id">
  <head>
    <title><%=title%></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/public/js/native.js"></script>
    <link rel="icon" href="https://cdn.mokkaya.com/images/SC_logo.png">
    <style>
      body {
        font-size: 20px;
        font-family: sans-serif;
      }
      .term {
        color: #000;
        font-size: .85rem;
        overflow: scroll;
        padding: 2rem 1rem;
        line-height: 22px;
      }
      h2,
      h4 {
        text-align: center;
      }
      h4 {
        margin-top: 1rem;
      }
      @media screen and (min-width: 1200px) {
        .term {
          width: 50% !important;
          margin: auto !important;
        }
      }
    </style>
  </head>
  <body>
    <div class="term">
      <h2>Syarat dan Ketentuan</h2>
      <p>Selamat datang di Mokkaya</p>
      <p />
      <div>Kami adalah Social Commerce, yang akan membantu Anda untuk mendapatkan produk-produk unik nan berkualitas, juga harga
      yang bersaing. Syarat dan Ketentuan yang Kami ciptakan bertujuan agar Anda tidak mengalami kesulitan ketika ingin
      menggunakan aplikasi Mokkaya dan menjalankan kegiatan sebagai reseller online Mokkaya. Kami harapkan Anda dapat
      meluangkan waktu sebentar untuk membaca Syarat dan Ketentuan yang Kami miliki di Mokkaya.</div>
      <p>Dengan menggunakan aplikasi/website Mokkaya, Anda menyatakan bahwa Anda telah menyetujui semua isi dari Syarat dan Ketentuan berikut ini.</p>
      <p>Perlu diketahui bahwa isi dari Syarat & Ketentuan ini dapat berubah sewaktu-waktu, dengan ataupun tanpa pemberitahuan terlebih dahulu. Oleh karena itu, mohon untuk memeriksa isinya secara berkala.</p>
      <h4>PASAL 1</h4>
      <h4>UMUM</h4>
      <div class="text">
        <p />A.“Kami” adalah Mokkaya, sebagai penyedia produk bagi para reseller sekalian.
        <p />B.B.“Anda” atau “Reseller” adalah pengguna dari Mokkaya, atau pemilik dari nomor hp maupun email yang terdaftar sebagai
        akun di aplikasi Mokkaya.
        <p />C.“Pembeli” atau “Konsumen Akhir” adalah pelanggan dari Anda/Reseller yang sudah tertuang pada poin B.
        <p />D.“Produk” adalah produk yang kami, Mokkaya, jual kepada Anda/Reseller.
        <p />E.Layanan kami adalah menjual produk-produk, yang akan dijual kembali oleh Anda/Reseller. Kami tidak menjual produk langsung kepada Konsumen Akhir, sehingga Kami tidak bertanggungjawab atas layanan apapun yang dijanjikan oleh Anda/Reseller kepada Konsumen Akhir.
        <p />F.“Pesanan” adalah proses transaksi produk yang Anda lakukan di Mokkaya.
        <p />G.“Supplier” atau “Vendor” adalah pihak yang menyediakan produk kepada Mokkaya, yang menjadi produk yang Anda/Reseller pesan melalui aplikasi Mokkaya.
        <p />H.Jika Anda/Reseller merasa produk yang diterima mengalami cacat, atau rusak dalam pengiriman, atau harga tidak sesuai dengan kesepakatan awal, dapat melakukan KOMPLAIN. Ketentuan KOMPLAIN diatur dalam Pasal 3 dan Pasal 4.
        <p />I.Anda/Reseller WAJIB untuk memenuhi segala aturan yang ada untuk mempermudah proses KOMPLAIN.
        <p />J.“Keanggotaan Reseller” adalah jenis keanggotaan Reseller di Mokkaya, yaitu Reseller regular dan Reseller VIP, dan akan mendapatkan benefit – benefit tersendiri.
        <p />K.“Bonus” adalah benefit yang akan diberikan kepada Reseller – Reseller yang secara resmi telah terdaftar.
        <p />L.“COD” adalah salah satu metode pembayaran pesanan yang disediakan dan dapat digunakan oleh Reseller, yaitu mengacu pada pembayaran secara kontan pada saat pesanan diterima.
        <p />M.“Saldoku” adalah fitur dalam aplikasi Mokkaya yang berfungsi sebagai tempat penyimpanan sementara saldo yang dikumpulkan oleh Reseller selama bertransaksi dalam aplikasi Mokkaya.
        <p />N. “Kurir” atau “Ekspedisi” adalah pihak ketiga yang bekerja sama dengan Mokkaya untuk keperluan yang berkaitan dengan pengiriman produk-produk Mokkaya.
        <p />O.“Referral” adalah fitur dalam aplikasi Mokkaya yang memungkinan Anda untuk mengundang pengguna lainnya untuk bergabung dan menjadi orang yang Anda ajak dan Anda berhak untuk mendapatkan kompensasi tertentu.
        <p />
      </div>
      <h4>PASAL 2</h4>
      <h4>MEMBATALKAN PESANAN SEBELUM PENGIRIMAN</h4>
      <div class="text">
        <p />A.Pembatalan Pesanan oleh Reseller diatur dengan ketentuan-ketentuan sebagai berikut:
        <p />1.Anda/Reseller tidak diperkenankan untuk membatalkan Pesanan yang telah dibuat dengan cara apapun lewat aplikasi. 
        <p />2.Anda dapat menghubungi tim admin Mokkaya lewat fitur Tanya di dalam aplikasi Mokkaya untuk mengajukan pembatalan
        Pesanan, disertai dengan alasan yang kuat dan meyakinkan. Mohon menyebutkan nomor pesanan yang ingin Anda batalkan
        tersebut agar tim admin lebih mudah memeriksanya.
        <p />3.Tim admin Mokkaya memiliki hak atas keputusan mutlak untuk menerima atau menolak permintaan pembatalan Pesanan.
        <p />4.Hanya Pesanan dalam status “Diproses” saja yang memungkinkan untuk dibatalkan, dikarenakan Pesanan tersebut belum
        masuk proses pengiriman.
        <p />5.Pesanan yang sudah berstatus “Pengiriman” tidak bisa dibatalkan lagi dengan alasan apapun.
        <p />6.Pesanan non-COD hanya memiliki batas waktu pembayaran selama 24 jam. Apabila tidak dibayar dalam batas waktu tersebut,
        maka Pesanan akan otomatis dibatalkan. Untuk pesanan dari Supplier/Vendor berbeda yang di-checkout secara bersamaan
        dengan fitur Keranjang, pembatalan akibat lewatnya masa pembayaran akan membatalkan semua pesanan tersebut.
        <p />7.Khusus Pesanan yang menggabungkan beberapa produk sekaligus dengan ongkos kirim tunggal, maka akan dibatalkan secara keseluruhan.
        <p />B.Untuk setiap Pesanan yang dibatalkan oleh Reseller sebelum pengiriman, maka akan diperlakukan sebagai berikut:
        <p />1.Untuk Pesanan dengan metode pembayaran non-COD yang belum dibayar, maka status Pesanan akan diubah menjadi Dibatalkan. Tidak ada dana yang dikembalikan ke Reseller.
        <p />2.Untuk Pesanan dengan metode pembayaran non-COD yang sudah dibayar, maka status Pesanan akan diubah menjadi Dikembalikan. Dana yang sudah dibayar akan dikembalikan ke Reseller lewat proses Refund (pengembalian uang) dan otomatis akan ditambahkan ke “Saldoku” dalam aplikasi sesuai dengan jumlah yang dibayarkan untuk Pesanan tersebut.
        <p />3.Untuk Pesanan dengan metode pembayaran COD, maka status Pesanan akan diubah menjadi Dibatalkan. Tidak ada dana yang dikembalikan ke Reseller.
        <p />4.Tidak ada kompensasi apapun yang diberikan kepada Reseller untuk pembatalan Pesanan yang diminta oleh Reseller sendiri.
        <p />C.Pembatalan Pesanan oleh Supplier/Vendor dan sistem diatur dengan ketentuan-ketentuan sebagai berikut:
        <p />1.Supplier/Vendor dapat membatalkan Pesanan Anda secara mandiri melalui aplikasi yang tersedia khusus bagi mereka tanpa pemberitahuan kepada Anda berdasarkan alasan – alasan tertentu, dan hanya dapat dilakukan untuk Pesanan yang sedang dalam status “Diproses”.
        <p />2.Pesanan yang belum memiliki status kurir (tracking) yang aktif atau sukses “Pick up” selama lebih dari 5 hari terhitung sejak Pesanan tersebut dibayar untuk pesanan non-COD dan atau sejak Pesanan tersebut dibuat untuk pesanan COD, akan dibatalkan secara otomatis oleh sistem.
        <p />3.Pembatalan Pesanan oleh sistem yang tertuang dalam Pasal 2-C-2 berlaku untuk Pesanan dalam status “Diproses” dan “Pengiriman”.
        <p />4.Supplier/Vendor dapat mengajukan permintaan pembatalan Pesanan ke admin Mokkaya apabila mereka menghadapi kendala untuk memproses Pesanan tersebut, seperti misalnya: Stok habis.
        <p />5.Khusus Pesanan yang menggabungkan beberapa produk sekaligus dengan ongkos kirim tunggal, maka akan dibatalkan secara keseluruhan.
        <p />D.Untuk setiap Pesanan yang dibatalkan oleh Supplier/Vendor dan sistem, maka akan diperlakukan sebagai berikut:
        <p />1.Untuk Pesanan dengan metode pembayaran non-COD yang sudah dibayar, maka status Pesanan akan diubah menjadi Dikembalikan. Dana yang sudah dibayar akan dikembalikan ke Reseller lewat proses Refund (pengembalian uang) otomatis ke “Saldoku” dalam aplikasi sesuai dengan jumlah yang telah dibayarkan untuk Pesanan tersebut. Reseller akan mendapatkan kompensasi berupa sebuah “Kupon Kompensasi Pembatalan” untuk setiap Pesanan yang dibatalkan.
        <p />2.Untuk Pesanan dengan metode pembayaran COD, maka status Pesanan akan diubah menjadi Dibatalkan. Tidak ada dana yang dikembalikan ke Reseller. Reseller akan mendapatkan kompensasi berupa sebuah “Kupon Kompensasi Pembatalan” untuk setiap Pesanan yang dibatalkan.
        <p />3.Khusus Pesanan yang menggabungkan beberapa produk sekaligus dengan ongkos kirim tunggal, maka hanya akan diberikan 1 buah kupon kompensasi untuk keseluruhan Pesanan yang dibatalkan.
        <p />4.“Kupon Kompensasi Pembatalan” bernilai potongan harga produk 10% (sepuluh persen) dengan maksimal potongan Rp10.000 (sepuluh ribu rupiah), serta minimal nilai pembelian produk Rp30.000 (tiga puluh ribu rupiah). Kupon berlaku selama 14 hari setelah diberikan, dan hanya dapat digunakan untuk Pesanan dibuat di Mokkaya. Nilai kupon dapat berubah sewaktu-waktu, baik dengan maupun tanpa pemberitahuan terlebih dahulu.
      </div>
      <!-- <h4>PASAL 3</h4>
      <h4>PENGEMBALIAN PRODUK</h4>
      <div class="text">
        A.Kami memperbolehkan Anda/Reseller untuk melakukan Pengembalian Produk, sesuai dengan ketentuan yang kami miliki:
        <p />1.Harga produk tidak sesuai dengan pesanan awal
        <p />2.Produk mengalami kerusakan pada saat pengiriman
        <p />3.Jenis dan/atau tipe produk berbeda dengan pesanan awal
        <p />4.Menyertakan bukti video proses dibukanya paket (unboxing) pertama kali setelah paket berhasil diterima serta foto
        jelas dari label atau resi asli Mokkaya yang masih tertempel pada paket.
        <p />5.Menyertakan bukti tidak sesuainya produk dengan pesanan awal. 
        <p />6.Stok produk yang sama masih tersedia.
        <p />7.Mengisi dengan lengkap Formulir Pengajuan Komplain yang kami berikan.
        <p />B.Kami berhak untuk menolak permohonan pengembalian produk yang Anda/Reseller lakukan, sesuai dengan ketentuan kami sebagai berikut:
        <p />1.Anda/Reseller belum mengisi Formulir Pengajuan Komplain.
        <p />2.Tidak menyertakan video proses dibukanya paket (unboxing)
        <p />3.Video dibukanya paket (unboxing) bukan merupakan video yang diambil pada saat paket dibuka pertama kali dan/ atau video dibuat seolah – olah diambil pada saat paket dibuka pertama kali.
        <p />4.Kesalahan kirim (meliputi alamat, produk baik jenis dan/atau tipe) dari Anda/Reseller kepada Konsumen Akhir, atau kesalahan dalam membuat pesanan di Aplikasi.
        <p />5.Konsumen Akhir membatalkan pembelian dari Anda/Reseller.
        <p />6.Melakukan KOMPLAIN setelah menerima barang lebih dari 3 hari sejak barang diterima.
        <p />7.Tidak menyerahkan BUKTI (foto dan/atau video) mengenai kerusakan produk serta label resi asli Mokkaya yang masih
        tertempel pada paket.
        <p />8.Anda/Reseller menolak untuk mengirimkan kembali Produk yang rusak atau tidak sesuai tersebut ke alamat yang telah kami sediakan.
        <p />C.Kami akan memproses KOMPLAIN Pengembalian Produk Anda/Reseller, dengan tahapan sebagai berikut: 
        <p />1.Anda/Reseller menghubungi tim admin Mokkaya lewat fitur chat di dalam aplikasi Mokkaya (halaman detail pesanan
        tersebut). Mohon menyebutkan nomor pesanan yang ingin Anda komplain tersebut agar tim admin lebih mudah memeriksanya.
        <p />2.Kami akan memberikan Formulir Pengajuan Komplain untuk Anda/Reseller isi sebagai bukti melakukan KOMPLAIN.
        <p />3.Kami akan melakukan Proses Komplain Anda/Reseller MAKSIMAL 1x24 jam setelah tim admin yang sedang bertugas memberikan
        respon pertamanya.
        <p />4.Anda/Reseller WAJIB untuk mengisi Formulir Pengajuan Komplain agar kami dapat memproses laporan Anda dengan lebih
        cepat.
        <p />5.Anda/Reseller WAJIB mengirimkan bukti (foto dan/atau video) ketika membuka paket (unboxing), label resi yang asli dari
        Mokkaya dalam keadaan masih tertempel di paket, serta kerusakan yang terjadi pada produk yang Anda/Reseller pesan.
        <p /> 6.Jika Anda/Reseller tidak memberikan Formulir Pengajuan Komplain yang telah diisi dan/atau tidak memberikan video
        dibukanya paket (unboxing), foto jelas dari label resi asli dari Mokkaya dalam keadaan masih tertempel di paket, dan
        bukti (foto dan/atau video) kerusakan sampai dengan DUA (2) HARI terhitung dari pengajuan komplain, proses komplain akan
        kami tutup dan tidak bisa dilanjutkan dengan alasan apapun.
        <p />7.Kami akan menilai apakah bukti-bukti yang Anda berikan sudah memenuhi syarat pengajuan komplain, dan meminta Anda
        memberikan bukti lain jika dibutuhkan. Apabila komplain disetujui, Anda/Reseller WAJIB untuk mengirim kembali produk
        yang telah Anda terima tersebut ke alamat yang kami sediakan (alamat bisa berbeda-beda untuk setiap Pesanan) dan
        memberikan bukti berupa foto resi pengiriman yang asli.
        <p />8.Jika produk tidak dikirimkan kembali (belum ada bukti foto resi pengiriman) ke alamat yang telah kami sediakan sampai
        dengan DUA (2) HARI terhitung dari pemberian alamat, proses komplain akan kami tutup dan tidak bisa dilanjutkan dengan
        alasan apapun
        <p />9.Setelah Kami menerima produk, Kami akan memproses Permohonan Pengembalian Produk Anda/Reseller dalam waktu ENAM (6)
        SAMPAI EMPAT BELAS (14) HARI KERJA. Terhitung dari saat Kami menerima produk tersebut.
        <p />10.Anda/Reseller berhak memilih opsi Pengembalian Uang (Pasal 4) jika produk yang akan ditukar sedang dalam kondisi stok
        habis.
        <p />11.Jika produk tersedia dan Anda/Reseller setuju dengan produk yang akan dikirim, maka Kami akan langsung mengirim
        produk tersebut.
        <p />12.Kompensasi untuk setiap pesanan yang dikomplain diatur dalam PASAL 5.

      </div> -->

      <h4>PASAL 3</h4>
      <h4>PENGEMBALIAN UANG</h4>
      <div class="text">
        A.Kami memperbolehkan Anda/Reseller untuk melakukan Pengembalian Uang, sesuai dengan ketentuan yang kami miliki:
        <p />1.Harga produk tidak sesuai dengan pemesanan awal.
        <p />2.Produk mengalami kerusakan pada saat pengiriman dan tidak ada produk pengganti.
        <p />3.Jenis dan/atau tipe produk berbeda dengan pemesanan awal.
        <p />4.Menyertakan bukti video proses dibukanya paket (unboxing) pertama kali setelah paket berhasil diterima serta foto
        jelas dari label atau resi asli Mokkaya yang masih tertempel pada paket.
        <p />5.Menyertakan bukti tidak sesuainya produk dengan pesanan awal.
        <p />6.Produk mengalami kehabisan stok.
        <p />7.Mengisi dengan lengkap Formulir Pengajuan Komplain yang kami berikan.
        <p />B.Kami berhak untuk menolak permohonan pengembalian uang yang Anda/Reseller lakukan, sesuai dengan ketentuan kami sebagai berikut:

        <p />1.Anda/Reseller belum mengisi Formulir Pengajuan Komplain.
        <p />2.Tidak menyertakan video proses dibukanya paket (unboxing)
        <p />3.Video dibukanya paket (unboxing) bukan merupakan video yang diambil pada saat paket dibuka pertama kali dan/ atau
      video dibuat seolah – olah diambil pada saat paket dibuka pertama kali
        <p />4.Kesalahan kirim (meliputi alamat, produk baik jenis dan/atau tipe) dari Anda/Reseller kepada Konsumen Akhir, atau
      kesalahan dalam membuat pesanan di Aplikasi.
        <p />5.Konsumen Akhir membatalkan pembelian dari Anda/Reseller.
        <p />6.Melakukan KOMPLAIN setelah menerima barang lebih dari 3 hari sejak barang diterima.
        <p />7.Tidak menyerahkan BUKTI (foto dan/atau video) mengenai kerusakan produk serta label resi asli Mokkaya yang masih
      tertempel pada paket.
        <p />8.Anda/Reseller menolak untuk mengirimkan kembali Produk yang rusak atau tidak sesuai tersebut ke alamat yang telah kami
        sediakan.

        <p />C.Kami akan memproses KOMPLAIN Pengembalian Uang Anda/Reseller, dengan tahapan sebagai berikut:
        <p />1.Anda/Reseller menghubungi tim admin Mokkaya lewat fitur Tanya di dalam aplikasi Mokkaya (halaman detail pesanan
        tersebut). Mohon menyebutkan nomor pesanan yang ingin Anda komplain tersebut agar tim admin lebih mudah memeriksanya.
        <p />2.Kami akan memberikan Formulir Pengajuan Komplain untuk Anda/Reseller isi sebagai bukti melakukan KOMPLAIN.
        <p />3.Kami akan mulai memeriksa Komplain Anda/Reseller MAKSIMAL 1x24 jam setelah tim admin yang sedang bertugas memberikan respon pertamanya.
        <p />4.Anda/Reseller WAJIB untuk mengisi Formulir Pengajuan Komplain dan mengikuti instruksi dari Admin agar kami dapat memproses laporan Anda dengan lebih cepat.
        <p />5.Anda/Reseller WAJIB mengirimkan bukti (foto dan/atau video) ketika membuka paket (unboxing), label resi yang asli dari
        Mokkaya dalam keadaan masih tertempel di paket, serta kerusakan yang terjadi pada produk yang Anda/Reseller pesan.
        <p />6.Jika Anda/Reseller tidak memberikan Formulir Pengajuan Komplain yang telah diisi dan/atau tidak memberikan video
        dibukanya paket (unboxing), foto jelas dari label resi asli dari Mokkaya dalam keadaan masih tertempel di paket, dan
        bukti (foto dan/atau video) kerusakan sampai dengan DUA (2) HARI terhitung dari pengajuan komplain, proses komplain akan
        kami tutup dan tidak bisa dilanjutkan dengan alasan apapun.
        <p />7.Kami akan menilai apakah bukti-bukti yang Anda berikan sudah memenuhi syarat pengajuan komplain, dan meminta Anda
        memberikan bukti lain jika dibutuhkan. Apabila komplain disetujui, Anda/Reseller WAJIB untuk mengirim kembali produk
        yang telah Anda terima tersebut ke alamat yang kami sediakan (alamat bisa berbeda-beda untuk setiap Pesanan) dan
        memberikan bukti berupa foto resi pengiriman yang asli.
        <p />8.Jika produk tidak dikirimkan kembali (belum ada bukti foto resi pengiriman) ke alamat yang telah kami sediakan sampai
        dengan DUA (2) HARI terhitung dari pemberian alamat, proses komplain akan kami tutup dan tidak bisa dilanjutkan dengan
        alasan apapun
        <p />9.Setelah produk diterima di tujuan dan sudah sesuai, Kami akan memproses Permohonan Pengembalian Uang Anda/Reseller
        dalam waktu MAKSIMAL TIGA HARI KERJA. Terhitung dari saat produk tersebut diterima.
        <p />10.Besarnya jumlah uang yang dikembalikan beserta kompensasi untuk setiap pesanan yang dikomplain diatur dalam PASAL 4.
        <p />11.Jika produk yang diterima di tujuan terbukti tidak sesuai, kami berhak membatalkan proses Komplain dan menganggap bahwa pesanan telah sesuai.
        <p />12.Lamanya proses Komplain akan berbeda antara satu kasus dengan kasus lainnya, tergantung dari beberapa faktor yang ada.
        <p />13.Kami dapat menyesuaikan proses komplain jika terjadi kasus Komplain yang membutuhkan penanganan khusus.
      </div>
      <h4>PASAL 4</h4>
      <h4>KETENTUAN PENGEMBALIAN</h4>

      <div class="text">
        <p />A.Kami BERHAK untuk membatalkan Proses Pengembalian Uang, berdasarkan Pasal 3B.
        <p />B.Kami BERHAK untuk melanjutkan Proses Pengembalian Uang, jika Anda/Reseller bersedia mengikuti proses pada Pasal 3C.
        <p />C.Jika di kemudian hari, Anda/Reseller, melakukan hal atau kegiatan ilegal pada Proses Pengembalian Uang dengan tujuan apapun, Anda/Reseller tidak BERHAK mengajukan Tuntutan Hukum apapun, sebagai konsekuensi tidak mengikuti PASAL yang kami berikan. 
        <p />D.Sesuai dengan Pasal 4C, jika hal dan/atau kegiatan ilegal pada Proses Pengembalian Uang yang Anda/Reseller lakukan berdampak pada sistem Kami, Kami BERHAK mengajukan Tuntutan Hukum sesuai hukum yang berlaku di Republik Indonesia. 

        <p />E.Biaya Pengiriman atau ongkir untuk pengiriman kembali produk yang rusak atau tidak sesuai ditanggung oleh Anda/Reseller sendiri atau Pembeli Anda.
        <p />F.Pengembalian Uang untuk Pesanan yang telah diterima pembeli akan ditransfer secara OTOMATIS ke dalam fitur Saldoku milik Anda di dalam Aplikasi. Jumlah uang yang dikembalikan akan sesuai dengan jumlah yang dibayar untuk pesanan yang bersangkutan, atau harga produk spesifik yang mengalami keluhan. 
        <p />G.Untuk komplain yang mengalami Pengembalian Uang untuk seluruh produk dalam suatu pesanan, maka nilai uang yang dikembalikan kepada Anda adalah harga total produk dalam pesanan tersebut, ditambah dengan ongkir pesanan tersebut. Apabila pesanan tersebut merupakan metode COD, maka margin atau keuntungan COD juga akan dikembalikan kepada Anda.
        <p />H.Untuk komplain yang mengalami Pengembalian Uang untuk sebagian produk dalam suatu pesanan, maka nilai uang yang dikembalikan kepada Anda adalah harga dari produk spesifik yang dikembalikan. Apabila Anda menggunakan kupon diskon yang memotong harga produk dalam pesanan tersebut, maka harga produk spesifik yang dikembalikan akan dihitung secara proporsional.
        <p />I.Untuk setiap komplain yang disetujui dan diselesaikan, Anda/Reseller akan diberikan kompensasi berupa sebuah kupon potongan ongkir senilai Rp10.000 (sepuluh ribu rupiah) dan sebuah kupon potongan harga produk senilai 10% total harga produk (tanpa ongkir) maksimal Rp10.000 (sepuluh ribu rupiah). Kupon diberikan secara otomatis setelah proses komplain telah diselesaikan. Kupon berlaku selama 14 hari setelah diberikan, dan hanya dapat digunakan untuk Pesanan dibuat di Mokkaya. Nilai kupon dapat berubah sewaktu-waktu, baik dengan maupun tanpa pemberitahuan terlebih dahulu.
      </div>
      <h4>PASAL 5</h4>
      <h4>KEANGGOTAAN RESELLER</h4>
      <div class="text">
        <p />A.Reseller reguler adalah Reseller yang resmi terdaftar di aplikasi Mokkaya dan telah berhasil diverifikasi oleh tim admin Mokkaya. 
        <p />B.Hak dan keuntungan terdaftar sebagai Reseller meliputi layanan customer service, pelatihan reseller, kupon potongan harga dan ongkos kirim, serta program ekslusif tertentu.
        <p />C.Reseller VIP adalah Reseller yang telah memenuhi persyaratan dan berhak mendapatkan benefit lebih yang tersedia
        <p />D.Syarat menjadi reseller VIP akan diumumkan secara berkala kepada reseller – reseller yang telah resmi terdaftar 
        <p />E.Keuntungan status reseller VIP dapat mengikuti program eksklusif dan dapat mendapatkan bonus tambahan 
        <p />
      </div>
      <h4>PASAL 6</h4>
      <h4>PRIORITAS LAYANAN</h4>
      <div class="text">
        <p />A.Produk dan layanan kami akan diprioritaskan untuk Reseller yang bersedia bekerja sama dalam mengembangkan layanan dari Aplikasi yang tentunya akan memberikan nilai tambah di kemudian hari kepada para Supplier, Reseller maupun Perusahaan kami secara keseluruhan.
        <p />B.Contoh-contoh kerja sama yang diharapkan, namun tidak terbatas pada:
        <p />1.Pengisian survey.
        <p />2.Menjaga nama baik Mokkaya ketika Anda berinteraksi di ranah publik.
        <p />3.Memberikan testimoni yang positif, baik terhadap Produk maupun Perusahaan.
        <p />4.Berpartisipasi dalam program yang disediakan Mokkaya, misalnya: webinar, brand ambassador, program kontribusi, dll.
        <p />C.Jika Reseller bersikap kurang / tidak kooperatif dalam hal kerja sama untuk pengembangan Aplikasi, maka kami berhak untuk menangguhkan sebagian atau keseluruhan produk dan layanan yang diberikan kepada Reseller tersebut.
        <p />D.Contoh-contoh penangguhan produk dan layanan yang bisa kami lakukan, namun tidak terbatas pada:
        <p />1.Tidak memprioritaskan permintaan Anda dalam layanan, misalnya: pertanyaan, pengajuan komplain, mendaftarkan referral, dll.
        <p />2.Mengurangi akses Anda ke Aplikasi, misalnya: membuat pesanan, baik COD maupun non-COD, menarik saldo, dll.
        <p />3.Menghapus keanggotaan Anda dari Aplikasi.
        <p />E.Keputusan yang diambil oleh pihak Mokkaya bersifat mutlak dan final, serta tidak dapat diganggu gugat.
      </div>

      <h4>PASAL 7</h4>
      <h4>BONUS</h4>
      <div class="text">
        <p />A.Jenis - jenis bonus akan dipublikasikan secara berkala kepada reseller – reseller yang telah terdaftar setiap awal peluncuran program
        <p />B.Periode bonus ditentukan untuk setiap program dan akan dipublikasikan setiap awal peluncuran program dan secara berkala kepada reseller – reseller yang telah terdaftar melalui pengumuman yang bisa dilihat di dalam Aplikasi.
        <p />C.Perhitungan bonus mengikuti ketentuan yang ada pada setiap program dan akan dipublikasikan pada awal peluncuran program dan secara berkala kepada reseller – reseller yang telah terdaftar melalui pengumuman yang bisa dilihat di dalam Aplikasi.
        <p />D.Pembayaran bonus mengikuti ketentuan yang ada pada setiap program dan akan dipublikasikan pada awal peluncuran program dan secara berkala kepada reseller – reseller yang telah terdaftar melalui pengumuman yang bisa dilihat di dalam Aplikasi.
        <p />
      </div>
      <h4>PASAL 8</h4>
      <h4>COD – BAYAR DI TEMPAT</h4>
      <div class="text">
        A.Semua reseller yang telah resmi terdaftar, berhak menggunakan metode pembayaran COD dan harus mematuhi ketentuan – ketentuan yang telah disepakati
        <p />B.Metode pembayaran COD hanya dapat dilakukan untuk produk – produk tertentu, serta menjangkau wilayah-wilayah tertentu, sesuai dengan panduan penggunaan metode pembayaran COD
        <p />C.Jika ada indikasi penyalahgunaan metode COD, kami berhak untuk melakukan pembekuan metode COD kepada reseller yang bersangkutan sampai batas waktu yang tidak ditentukan, sekaligus membekukan akses Anda untuk mencairkan dana di dalam Saldoku milik Anda di Aplikasi.
        <p />D.Pembayaran keuntungan COD akan dilakukan sesuai dengan ketentuan yang berlaku di Mokkaya dan secara rutin dipublikasikan di grup-grup Reseller
        <p />E.Perlu diketahui bahwa pengiriman paket COD yang gagal atau ditolak dan kemudian dikembalikan, yang dikarenakan oleh kesalahan Reseller (misalnya, namun tidak terbatas pada: fake order, penulisan alamat dan/atau nomor kontak yang salah atau tidak lengkap, dll) merupakan sebuah kerugian material. Hal ini dikarenakan pihak ekspedisi tetap mengenakan biaya pengiriman meskipun pesanan tersebut dikembalikan. Kerugian material akibat pesanan COD yang gagal atau ditolak, akan dibebankan kepada reseller dan dapat mempengaruhi keuntungan yang diterima, baik yang ditransfer secara manual, maupun secara otomatis mengurangi nilai di fitur “Saldoku” dalam aplikasi Mokkaya.
        <p />F.Besarnya biaya yang dikenakan ke reseller atas pesanan COD yang ditolak adalah 1 (satu) kali lipat ongkos kirim pesanan tersebut. Ini adalah biaya yang tetap dibayarkan kepada pihak ekspedisi meskipun pesanan tersebut ditolak atau gagal terkirim. Besarnya biaya bisa berubah sewaktu-waktu, dengan ataupun tanpa pemberitahuan terlebih dahulu.
        <p />G.Bila pesanan COD yang ditolak bukan dikarenakan oleh kesalahan Anda/Reseller, namun akibat kelalaian dari pihak Supplier atau Kurir, maka Anda/Reseller akan diberikan dispensasi atas denda penolakan COD. Dispensasi denda akan diberlakukan secara otomatis oleh sistem untuk kasus-kasus tertentu, sedangkan kasus-kasus lainnya akan memberlakukan dispensasi denda secara manual, dimana dana yang terpotong akibat denda penolakan COD akan dikembalikan kepada Anda dalam periode waktu tertentu setelah Anda melaporkannya ke pihak Admin Mokkaya.
        <p />H.Kasus-kasus yang tergolong dalam kesalahan Supplier atau Kurir, dan diberlakukan penghapusan denda penolakan COD secara OTOMATIS oleh sistem adalah: pesanan yang melewati 3 hari dari sejak nomor resi terbit pertama kalinya hingga sukses pick up oleh Kurir, dan kemudian ditolak oleh Pembeli.
        <p />I.Kasus-kasus yang tergolong dalam kesalahan Supplier atau Kurir, dan diberlakukan penghapusan denda penolakan COD berdasarkan laporan dari Anda seperti misalnya:
        <ul>
          <li>1.Supplier memproses pesanan hingga lebih dari 5 hari hingga akhirnya pesanan dibatalkan oleh sistem, namun kemudian kembali dikirimkan. Keterlambatan tersebut menyebabkan Pembeli Anda menolak paket ketika dikirimkan.</li>
          <li>2.Alamat pengiriman ternyata tidak didukung untuk melakukan COD sehingga pesanan dikembalikan dan dianggap sebagai ditolak oleh Pembeli.</li>
          <li>3.Kurir tidak berusaha mengirimkan produk sesuai ketentuan yang berlaku sehingga Pembeli Anda tidak menerima paket tersebut.</li>
        </ul>
        <p />J.Untuk kasus-kasus yang terjadi di PASAL 8I, Anda diwajibkan untuk melaporkan kepada tim Admin Mokkaya lewat fitur
        Tanya dalam aplikasi, disertai dengan bukti-bukti kuat atas kelalaian yang diakibatkan oleh pihak Supplier dan Kurir,
        maksimal dalam 3 (tiga) hari setelah pesanan tersebut ditolak oleh Pembeli.
        <p />K.Tim Admin Mokkaya akan memeriksa laporan Anda dan memberi keputusan berdasarkan bukti-bukti yang Anda sertakan ditambah dengan investigasi internal. Keputusan pihak Kami bersifat mutlak dan final, serta tidak dapat diganggu gugat.
      </div>
      <h4>PASAL 9</h4>
      <h4>REFERRAL</h4>
      <div class="text">

        <p />A.Setiap pengguna yang telah menyelesaikan pendaftaran di aplikasi Mokkaya akan berhak untuk mengundang pengguna lainnya sebagai Referral.
        <p />B.Hanya pengguna baru yang belum pernah terdaftar sama sekali sejak fitur tersebut dikeluarkan oleh Mokkaya yang berhak untuk diundang sebagai Referral.
        <p />C.Anda tidak diperkenankan untuk mencari referral dengan cara-cara yang dapat merugikan orang lain, baik pihak Mokkaya maupun reseller lainnya. Sebagai contoh, namun tidak terbatas pada:
          <ul>
            <li>1.Menghubungi reseller lain secara pribadi dan memaksa atau bahkan mengancam mereka untuk memasukkan kode undangan Anda.</li>
            <li>2.Melakukan hack terhadap akun reseller orang lain dan memasukkan kode undangan milik Anda.</li>
            <li>3.Menjanjikan hal-hal yang tidak dapat Anda penuhi kepada calon Referral yang Anda undang, di luar dari fasilitas yang disediakan oleh pihak Mokkaya.</li>
          </ul>
        <p />D.Tim admin Mokkaya berhak untuk mengambil tindakan tegas apabila Anda terkonfirmasi melanggar poin-poin di atas, hingga menghentikan status Anda sebagai reseller Mokkaya.
        <p />E.Untuk penjelasan lebih detail tentang fitur Referral, Anda dipersilakan membaca dokumen di halaman Akun > Artikel
        Bantuan atau Ketentuan Referral di halaman Akun.
      </div>
    </div>
    <div class="ga_tag" hidden><%=googleTag%></div>
    <script src="/public/js/google.js" async></script>
  </body>
</html>