<div class="info-share bxshare">
	<div class="share-btn share-img" id="ab-shareInfo" onclick="window.shareClick.showShare('float')"><img src="/common/img/share.png"></div>
	<div id="shareBlock">
		<div class="share-block">
			<div class="mask" onclick="window.shareClick.hideShare()"></div>
			<div class="share-all">
			<div class="share-btn-firm clearfix">
			  <a class="share-firm whatsapp" href="javascript:window.shareClick.shareTo('whatsapp');">
			    <img src="/common/img/whatsapp.png">
			    <span>Whatsapp</span></a>
			  <a class="share-firm facebook" href="javascript:window.shareClick.shareTo('facebook');">
			    <img src="/common/img/facebook.png">
			    <span>Facebook</span></a>
			  <a class="share-firm line" href="javascript:window.shareClick.shareTo('line');">
			    <img src="/common/img/line.png">
			    <span>Line</span></a>
			</div>
			<a class="close-btn" href="javascript:window.shareClick.hideShare();">Cancelar</a></div>
		</div>
	</div>
</div>