* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    font-family: Roboto-Bold, Roboto;
}

html {
    background: #fff;
}

body {
    height: 100%;
    font-size: 0.14rem;
    background: #f5f7fa;
}

.header {
    z-index: 10;
    display: flex;
    position: fixed;
    top: 0;
    width: 49%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
}

.logo {
    width: 16%;
    position: relative;
    margin-left: .1rem;
}

.logo-img {
    box-sizing: border-box;
    padding: .2rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -.5rem;
    margin-top: -.5rem;
}

.answer-btn {
    animation: breathe 1s infinite;
}

@keyframes breathe {
    from {
        transform: scale(.91, .91);
    }

    50% {
        transform: scale(1, 1);
    }

    80% {
        transform: scale(.91, .91);
    }

    to {
        transform: scale(.91, .91);
    }
}

.content {
    flex: 6;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 3% 0;
}

.content .top {
    font-weight: bold;
    font-size: .27rem;
}

.content .item {
    font-size: .26rem;
    color: #666666;
}

.openbtn {
    flex: 2;
    align-items: center;
    display: -webkit-flex;
    justify-content: center;
}

.text-open {
    color: #fff;
    padding: 2px 10px 7px;
    background-color: #FF4808;
    border-radius: .5rem;
}

.wrapper {
    padding-top: .9rem;
    background: #f5f7fa;
    height: 100%;
}

.article {
    font-size: 16px;
}

.article-list {
    padding: 0 .2rem;
    margin-bottom: .2rem;
    font-size: 16px;
    height: 100%;
    background: #f5f7fa;
}

.logo {
    width: 13%;
    position: relative;
    margin-left: .1rem;
}

.content {
    flex: 6;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 3% 0;
}

.content .top {
    font-weight: bold;
    font-size: 18px;
}

.time {
    font-size: 16px;
}

.content .item {
    font-size: .12rem;
    color: #666666;
}

.more {
    width: 10%
}

.more img {
    width: 44%;
    margin-top: 20px;
}

.article {
    display: flex;
    height: .9rem;
    font-size: .35rem;
}

.author-pic {
    width: .5rem;
    height: .5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -.25rem;
    margin-top: -.25rem;
    border-radius: 50%;
}

.images,
.images-item {
    padding: 0 .15rem;
    width: 68%;
    padding: 0 .2rem;
}

.video-content {
    box-sizing: border-box;
}

.video {
    display: none;
    position: relative;
    padding: .2rem;
}

iframe {
    width: 100%;
    height: 100%;
}

.video,
.video-content {
    margin: 0 auto;
    width: 100%;
}

.play {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -.5rem;
    margin-left: -.5rem;
}

.article-content {
    text-indent: 2em;
    line-height: .3rem;
}

.wrapper-bottom {
    display: none;
}

.error {
    display: none;
    font-size: 18px;
    display: block;
    padding-top: 4rem;
    box-sizing: border-box;
    text-align: center;
    color: #7f828b;
    line-height: 21px;
    margin-bottom: 10px;
}

.error-title {
    margin-bottom: 1rem;
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width:1200px) {

    .video,
    .video-content {
        margin: 0 auto;
        width: 100%;
    }

    .play {

        margin-bottom: .8rem;
    }

    .content {
        margin-left: 20px;
    }
}