.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  font-size: 14px;
  position: relative;
  z-index: 8;
}
p {
  margin: 0;
}
.page_header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 16px;
  box-shadow: 0px 1px 7px 0px rgba(0,0,0,0.10); 
  font-weight: bold;
  background-color: #fff;
}
.logo {
  padding: 64px 16px 20px;
  margin-bottom: 8px;
}
.logo img {
  width: 134px;
  height: 30px;
}
.top_info {
  padding: 0 20px;
  line-height: 22px;
  font-size: 18px;
  color: #333;
  font-weight: bold;
  margin-bottom: 16px;
}

.middle_info {
  padding: 0 20px;
  line-height: 18px;
  color: #000;
  font-size: 16px;
  /* font-family: Roboto, Roboto-Regular; */
}

.middle_info span {
  color: #FF8900;
  font-weight: bold;
}

.middle_info:nth-child(4) {
  margin-bottom: 16px;
}

.btn {
  padding: 36px 20px 20px;
}

.btn button {
  width: 100%;
  background-color: #FF8900;
  color: #fff;
  min-height: 49px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  border:none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
.bottom_tip {
  padding: 0 20px;
  line-height: 18px;
  color: #000;
  font-size: 15px;
  /* font-weight: bold; */
}
.bottom_info {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.bottom_info div {
  background: linear-gradient(90deg,#df49a7, #7336b1);
  color: #fff;
  line-height: 28px;
  font-size: 14px;
  border-radius: 14px;
  display: flex;
}
.bottom_info span:nth-child(1) {
  width: 133px;
  width: 65px;
  text-align: center;
  padding-left: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: 'Menlo', monospace;
}
.bottom_info span:last-child {
  width: 53px;
  height: 27px;
  opacity: 1;
  background: #fff9ff;
  border: 1px solid #a73fac;
  border-radius: 15px;
  color: #8E37AC;
  text-align: center;
  font-size: 14px;
}
.logo_wrap {
  width: 100%;
  position: fixed;
  bottom: -5px;
  z-index: 4;
}
.logo_wrap img {
  width: 100%;
}