*{margin:0px;padding:0px;}
*:before, *:after {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body{font-family: Arial,Helvetica,sans-serif; }
ul{list-style: none;}
.container{padding: 20px; }
.center{text-align: center;}
.container p{margin: 15px 0px; line-height: 22px; }
.container .indent{text-indent: 10px; } 
.container h3{padding-top:10px; }
.link-ul li>div{font-weight: bold; margin-top: 20px; }
@media screen and (min-width: 767px){
.container{width: 768px; margin: 0px auto; padding: 20px; }
}