{% extends "./layout.html" %}

{% block Head %}
	<title>{{Title}}</title>
  {% if env === "production"  %}
      <link rel="stylesheet" href="/newsinfo/index.css">
  {% endif %}
  <meta http-equiv="pragma" content="no-cache" />
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta name="description" content="{{Abstract}} - {{Country.language['webTitle']}}">
  <!-- 分享到facebook的meta -->
  <meta property="og:url" content="{{ Country.webUrl }}/{{NewsId}}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{Title}}" />
  <meta property="og:description" content="{{Abstract}} - {{Country.language['webTitle']}}" />
  <meta property="og:image" content="{{ Country.imgHost }}{{Cover}}?allowRedirect=true"/>
  <meta property="og:image:type" content="image/jpeg">

  <!-- 分享到twitter的meta -->
  <meta name="twitter:card" content="gallery">
  <meta name="twitter:url"  content="{{ Country.webUrl }}/{{NewsId}}">
  <meta name="twitter:title" content="{{Title}}">
  <meta name="twitter:description" itemprop="description" content="{{Abstract}} - {{Country.language['webTitle']}}">
  <meta name="twitter:image" itemprop="image" content="{{ Country.imgHost }}{{Cover}}?allowRedirect=true">
  <script type="text/javascript">
  	window.newsId = '{{NewsId}}';
  	window.CommentCount = {{CommentCount}};
    window.hostUrl = '{{Country.webUrl}}';
  	window.newTitle = '{{Title}}';
  	window.CreatedTime = "{{CreatedAt}}";
    window.ClientId = "{{userId}}";
    window.page = 'info';
    window.newLabels = '{{Keywords}}';
    window.newsType = '{{Type}}';
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', "{{Country.language['ga']}}", 'auto');
    // ga('create', 'UA-35158941-9', 'auto', 'abtest');
    // ga('abtest.send', 'pageview');
    ga('send', 'pageview' , {'sessionControl': 'start'});


    {% if Type == 2 %}
      window.atlasData = {{Images | safe}};
    {% endif %}
  </script>
{% endblock %}



{% block TplCommon %}
<img src="{{ Country.imgHost }}{{Cover}}?allowRedirect=true" style="display:none;" />
<!-- 引入广告 -->
<script type="text/javascript">
  (adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-1560928052349869", enable_page_level_ads: true });
</script>
{% if Type != 2 %}
<!-- 引入底部下载块 -->
{% import "./components/download.html" as download_tpl %}
{{download_tpl.get('detail' ,Country.language['firm'] ,Country.language['firm-intro'],Country.language['download'])}}
<!-- 引用分享模块 -->
{% include "./components/share.html" %}

{% if language == 'yn' %}
<!-- 插屏广告 -->
<!-- <div id="my-ad-slot">
<script type="text/javascript" src="http://cf.cdn.inmobi.com/ad/inmobi.js"></script>
<script type="text/javascript">
  console.log('getNewAd:',_inmobi);
  window._inmobi = _inmobi;
</script>
</div> -->
<!-- <script type="text/javascript" src="http://cf.cdn.inmobi.com/ad/inmobi.js"></script>
<div id="my-ad-slot">
  <div class="mask"></div>
  <img src="" />
      <h3></h3>
      <p>
      </p>
</div>
 -->


{% endif %}

{% endif %}

{% endblock %}


{% block Content %}



{% if Type != 2 %}
<div class="newsInfoBody">
  <div class="label-list" id="labelList"></div>

  <div class="news-info set-rtl" id="newsInfo">
    <h1 class="name" itemprop="name">{{ Title }}</h1>
    <div class="info">
      <span class="from" rel="publisher">{{Media}}</span>
      <span class="dateicon"></span>
      <span class="date" id="createTime"></span>
      <div class="share-detail" id="infoShareDetail">
          <a class="share-whatsapp" href="javascript:window.shareClick.shareTo('whatsapp');"></a>
          <a class="share-facebook" href="javascript:window.shareClick.shareTo('facebook');"></a>
          <a class="share-line" href="javascript:window.shareClick.shareTo('line');"></a>
      </div>
    </div>
    <div class="article-detail">
        <div data-rfp-adspot-id="ODQ3OjQ5ODQ" style="display:none"></div>
        <script src="http://js.rfp.fout.jp/rfp-infeed.js"></script>
        <script type="text/javascript">RFP.InFeed.Default.run({ "immediately": true })</script>
        {{ Html | safe }}
        <div class="detail-ads">
            <!-- 详情页广告－印尼 -->
            <ins class="adsbygoogle {{language}}-ads"
                 style="display:inline-block;width:300px;height:250px"
                 data-ad-client="{{AdClient}}"
                 data-ad-slot="{{Country['ad']['detail']}}">
                <a class="default-img" href="javascript:window.Download.redirect('detail');"> </a>
            </ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});

            </script>

            <!-- <div id="adsbyinmobi" style="width:300px;height:250px;display: inline-block;margin-top: 20px;"> </div> -->

        </div>
    </div>
  </div>
  <a class="toResource" href="javascript:window.readOriginal('{{Url}}')">{{ Country.language['oldLink'] }}</a>
  <div class="praise-block">
    <a class="hand" id="btnLikeTrue"> <span></span>{{Likes}}</a> 
    <a class="hand-o" id="btnLikeFalse"> <span></span>{{Dislikes}}</a></div>
  <a class="download-app-block" href="javascript:window.Download.redirect('detail');">
      {% if language == 'yn' %}
      <img style="vertical-align: middle;width:50px;height:50px;" src="/common/img/mipmap-xhdpi/coin.png">
      <span>
          {{ Country.language['downloadBlock'] }}
      </span>
      {% else %}
      {{ Country.language['downloadBlock'] }}
      {% endif %}
  </a>
  
  {% if RelativeNews and RelativeNews.length > 0%}
  <div class="rel-list list-block hide" id="relList">
    <h3 class="title">{{ Country.language['relativeNews'] }}</h3>
    <div class="data-list">
    	{% for item in RelativeNews %}
    		<section class="set-rtl">
		        <a href="/{{item.NewsId}}?origin=relative&pageId={{item.PageId}}&PageIndex={{item.PageIndex}}#list" class="item-link clearfix ">
		          <div class="img-left">
		            <img alt="{{item.Title}}" onError="window.onImgError(this);" src="{{Country.imgHost+item.ImageGuids[0]}}_thumbnail" old-src="{{Country.imgHost}}{{item.ImageGuids[0]}}?allowRedirect=true&thumbnail=true"></div>
		          <div class="title">{{item.Title}}</div></a>
		    </section>
		  {% endfor %}
    </div>
  </div>
  {% endif %}
  <div class="ad-rel-list hide" id="adContentList">
    <ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="{{AdClient}}"
     data-ad-slot="{{Country['ad']['detailContent']}}"></ins>
  </div>

  <div class="hide" id="likeShareHtml">
    <div class="like-share">
      <div class="close-share"><div></div></div>
      <div class="text" id="likeShareText"> </div>
      <div class="icons clearfix">
        <a class="share-whatsapp" href="javascript:window.shareClick.shareTo('whatsapp');">
            <img alt="Share icons for whatsapp" src="/common/img/whatsapp.png">
            <div>Whatsapp</div>
        </a>
        <a class="share-facebook" href="javascript:window.shareClick.shareTo('facebook');">
            <img alt="Share icons for facebook" src="/common/img/facebook.png">
            <div>Facebook</div>
        </a>
        <a class="share-line" href="javascript:window.shareClick.shareTo('line');">
            <img alt="Share icons for line" src="/common/img/line.png">
            <div>Line</div>
        </a>
      </div>
    </div>
  </div>
  
  {% if CommentCount and CommentCount > 0 %}
  <div class="hot-comment list-block" style="display: block;">
    <h3 class="title">{{ Country.language['comment'] }}</h3>
    <div class="data-list" id="commentList">

    </div>
    <a class="read-more" href="javascript:window.Download.redirect('detail');">
    	{{ Country.language['enterApp'] }}
    </a>
  </div>
  {% endif %}
</div>
{% else %}
<style type="text/css">.container-body{margin-top:0px!important;}</style>
<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog">

    <!-- Background of PhotoSwipe. 
         It's a separate element, as animating opacity is faster than rgba(). -->
    <div class="pswp__bg"></div>

    <!-- Slides wrapper with overflow:hidden. -->
    <div class="pswp__scroll-wrap">

        <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
        <div class="pswp__container">
            <!-- don't modify these 3 pswp__item elements, data is added later on -->
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
            <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">

            <div class="pswp__top-bar">

                <!--  Controls are self-explanatory. Order can be changed. -->

                <div class="pswp__counter"></div>

                <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                <button class="pswp__button pswp__button--share" title="Share"></button>

                <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                <!-- element will get class pswp__preloader--active when preloader is running -->
                <div class="pswp__preloader">
                    <div class="pswp__preloader__icn">
                      <div class="pswp__preloader__cut">
                        <div class="pswp__preloader__donut"></div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                <div class="pswp__share-tooltip"></div> 
            </div>

            <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
            </button>

            <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
            </button>

            <div class="pswp__caption">
                <div class="pswp__caption__center"></div>
            </div>

          </div>

        </div>


    <div class="info-text" id="infoText"> </div>
    <div class="info-title info-text" id="infoTitle"> </div>
</div>
{% endif %}

{% endblock %}


{% block Script %}
	<script defer async="true" src="/newsinfo/bundle.js"></script>
    {% if env === "dev" and reload === true %}
        <script src="/reload/reload.js"></script>
    {% endif %}
{% endblock %}

